<ion-view id="tab-buy-bitcoin-kyc-personal-info"  view-title="{{ 'Personal Information' | translate }}" class="apl" can-swipe-back="false" hide-tabs>
  <ion-nav-bar >
    <ion-nav-buttons side="primary">
      <button class="button apl-back-button" ng-click="vm.onBack()">
        <i class="icon ion-chevron-left"></i><span translate>Back</span>
      </button>
      <ion-nav-buttons side="secondary">
        <button class="button apl-back-button" ng-click="vm.onNext()">
          <span translate>Next</span>
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content >
    <form name="documentForm" novalidate>
      <div class="row">
        <label for="firstName" translate>First Name</label>
        <input name="firstName" type="text" ng-model="vm.firstName" required></input>
      </div>
      <div class="error" ng-show="documentForm.firstName.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="lastName" translate>Last Name</label>
          <input name="lastName" type="text" ng-model="vm.lastName" required></input>
      </div>
      <div class="error" ng-show="documentForm.lastName.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="dob" translate>Date of Birth</label>
          <input name="dob" type="text" ng-model="vm.dob" required></input>
      </div>
      <div class="error" ng-show="documentForm.dob.$error.required" translate>
        Field is required.
      </div>
      <div class="error" ng-show="documentForm.dob.$error" translate>
        Must be at least 18 years old.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="buildingNumber" translate>Building Number</label>
          <input name="buildingNumber" type="text" ng-model="vm.buildingNumber" required></input>
      </div>
      <div class="error" ng-show="documentForm.buildingNumber.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="streetAddress" translate>Street Adress</label>
          <input name="streetAddress" type="text" ng-model="vm.streetAddress" required></input>
      </div>
      <div class="error" ng-show="documentForm.streetAddress.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="city" translate>Town/City</label>
          <input name="city" type="text" ng-model="vm.city" required></input>
      </div>
      <div class="error" ng-show="documentForm.city.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="postal" translate>Postal Code</label>
          <input name="postal" type="text" ng-model="vm.postal" required></input>
      </div>
      <div class="error" ng-show="documentForm.postal.$error.required" translate>
        Field is required.
      </div>
      <div class="apl-divider"></div>
      <div class="row">
          <label for="country" translate>Country</label>
          <input name="country" type="text" ng-model="vm.country" required></input>
      </div>
      <div class="error" ng-show="documentForm.country.$error.required" translate>
        Field is required.
      </div>
    </form>
    <div class="apl-divider"></div>
  </ion-content>
</ion-view>