<ion-view id="tab-buy-bitcoin-kyc-status" view-title="{{  'Verification Status'| translate }}" class="apl" can-swipe-back="false" hide-tabs>
  <ion-nav-bar >
    <ion-nav-buttons side="primary">
      <button class="button apl-back-button" ng-click="vm.goBack()">
        <i class="icon ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="status-frame" ng-show="vm.showStatus">
      <div id="status-content">
        <div class="status-graphic">
            <img src="{{vm.graphicUri}}"/>
        </div> 
        <div id="status-info">
            <h1>{{vm.statusTitle}}</h1>
            <p>{{vm.description}}</p>
        </div>
        <div ng-if="vm.files.length > 0" id="status-files">
          <div ng-repeat="file in vm.files" class="file">
            <h3 ng-if="file.type === 'passport'" translate>Passport</h3>
            <h3 ng-if="file.type === 'selfie'" translate>Self Portrait</h3>
            <div ng-if="file.side === 'front'" class="file-text" translate>Front</div>
            <div ng-if="file.side === 'back'" class="file-text" translate>Back</div>
            <div ng-if="file.reviewResult === 'clear'" class="file-text" translate>Approved</div>
            <div ng-if="file.reviewResult === 'rejected'" class="file-text" translate>Rejected</div>
            <div ng-if="file.reviewResultDescription" class="file-text">{{file.reviewResultDescription}}</div>
          </div>
        </div>
      </div>
      <div ng-show="vm.showRetry" class="apl-button-bottom-container no-shadow">
        <a class="apl-button" ng-click="vm.onRetry()" translate>Retry</a>
        <div class="apl-divider apl-divider-transparent"></div>
      </div>
      <div ng-show="!vm.showRetry" class="apl-button-bottom-container no-shadow">
        <a class="apl-button" ng-click="vm.goBack()" translate>OK</a>
        <div class="apl-divider apl-divider-transparent"></div>
      </div>
    </div>
  </ion-content>
</ion-view>