<ion-view id="tab-buy-bitcoin-kyc-status" view-title="{{  'Verification Status'| translate }}" class="apl" can-swipe-back="false" hide-tabs>
  <ion-nav-bar >
    <ion-nav-buttons side="primary">
      <button class="button apl-back-button" ng-click="vm.goBack()">
        <i class="icon ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="status-frame" ng-show="vm.showStatus">
        <table height="100%" width="100%">
          <tbody>
            <tr height="100%">
              <td valign="center">
                <div class="status-graphic">
                  <img src="{{vm.graphicUri}}"/>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="apl-button-bottom-container no-shadow">
                  <h1>{{vm.statusTitle}}</h1>
                  <p>{{vm.description}}</p>
                  <a class="apl-button" ng-click="vm.goBack()" translate>OK</a>
                  <div class="apl-divider apl-divider-transparent"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </ion-content>
</ion-view>