<ion-view id="buy-bitcoin-document-capture"  view-title="{{ 'Document Capture' | translate }}" can-swipe-back="false" style="background: transparent;" hide-tabs>
  <ion-nav-bar >
    <ion-nav-buttons side="primary">
      <button class="button apl-back-button" ng-click="vm.goBack()">
        <i class="icon ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="capture-frame" ng-show="!vm.inPreview">
      <div class="mask-frame" style="height:5%">Header</div>
      <div class="capture-mask"></div>
      <div class="mask-frame" style="height:50%">
        <h1 translate>
          Photograph your document
        </h1>
        <p>
          Position the 4 corners of your passport clearly in the frame. Avoid any glare.
        </p>
        <div class="camera-controls mask-cover">
          <a ng-click="vm.onCapture()" >
            <i class="icon">
              <div class="icon-capture"></div>
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="preview-frame" ng-show="vm.inPreview">
      <div class="preview-image">
        <img height="100%" width="100%" src="{{vm.photo}}"/>
      </div>
      <h3 translate>
        How does it look?
      </h3>
      <p translate>
        Make sure the details on your document are clear and readable with no blur or glare.
      </p>
      <div class="apl-button-bottom-container no-shadow">
        <a class="apl-button" ng-click="vm.onPreviewAccept()" translate>Yes, it's readable</a>
        <div class="apl-divider apl-divider-transparent"></div>
        <a class="apl-button apl-button-transparent" ng-click="vm.onPreviewDecline()" translate>Retake the picture</a>
      </div>
    </div>
  </ion-content>
</ion-view>