<ion-view id="tab-buy-bitcoin-amount" hide-tabs>
  <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <button class="button apl-back-button" ng-click="$ionicGoBack()">
        <i class="icon ion-chevron-left"></i><span translate>Back</span>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button translate>Edit</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="apl">
    <h1 translate>
      Payment Methods
    </h1>
    <div class="apl-list">
      <div ng-repeat="pm in vm.paymentMethods" ng-click="selectPaymentMethod(pm)">
        <a class="" ng-include="'views/buy-bitcoin/includes/payment-method-item.html'"></a>
      </div>
      <a class="item apl-list-item" ng-click="vm.addCard()">
        <p>+ <span translate>Add Credit ot Debit Card</span></p>
      </a>
    </div>
  </ion-content>
</ion-view>