<ion-view id="tab-buy-bitcoin-terms" view-title="Terms of Service" class="apl terms" hide-tabs>
    <ion-nav-bar>
      <ion-nav-buttons side="primary">
        <button class="button apl-back-button" ng-click="$ionicGoBack()">
          <i class="icon ion-chevron-left"></i><span translate>Back</span>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content >
      <div class="enable_text_select">
        <p class="heading">
          Terms of Service
        </p>
        <p>
          Last updated: October 24, 2018
        </p>
        <p class="heading">
          1. Introduction
        </p>
        <p>
          1.1 Please read this document carefully, as it sets out the terms and conditions on which Moon Pay Limited (referred to as "Moonpay") will provide services to you through our websites, APIs, or mobile applications.
        </p>
        <p>
          1.2 In this document, references to we/our/us are to Moonpay. Any references to Customer/you/your are references to you as a customer of Moonpay and user of our services. Any references to the "Service" includes websites, APIs, or mobile applications
        </p>
        <p>
          1.3 This Agreement will govern the use of the Services provided by Moonpay. By using the Services you agree to be bound by the terms and conditions set out on this webpage (the "Agreement"). This Agreement will come into effect when you confirm electronically that you agree to it. We recommend that you retain a copy of this Agreement and transaction records.
        </p>
        <p>
          1.4 The services that are provided can only be used in a limited way as they only allow the Customer to acquire goods or services.
        </p>
        <p>
          1.5 The risk of loss in trading or holding Bitcoin or any other cryptocurrency can be substantial. You should therefore carefully consider whether trading or holding Bitcoin or any other cryptocurrency is suitable for you in light of your financial condition. In considering whether to trade or hold bitcoin, you should be aware that the price or value of Bitcoin or any other cryptocurrency can change rapidly, decrease, and potentially even fall to zero.
        </p>
        <p>
          1.6 Use of cryptocurrency may be illegal in some jurisdictions. It is your responsibility to know the regulatory requirements concerning transactions with cryptocurrency in your jurisdiction before using the Services.
        </p>
        <p>
          1.7 For the purposes of this Agreement a "Business Day" is any day which is not a Saturday, Sunday or public holiday in Malta and which the banks are open for business in Valletta.
        </p>
        <p class="heading">
          2. Services provided to you
        </p>
        <p>
          2.1 Moonpay provides the following services to you through our API:
        </p>
        <p>
          2.1.1 allowing you to purchase any Cryptocurrency that can be purchased with Moonpay through our partners' mobile applications or websites.
        </p>
        <p>
          2.2 Together, the services set out in clause 2.1.1 are referred to in this Agreement as the "Services".
        </p>
        <p>
          2.3 Moonpay may also offer additional services to those listed above in clause 2.1.1 from time to time. Such additional services shall be provided under terms and conditions separate to this Agreement.
        </p>

        <p class="heading">
          3. Customer registration process
        </p>
        <p>
          3.1 To be eligible to become a Customer you must:
        </p>
        <p>
            3.1.1 be at least 18 years old; and
        </p>
        <p>
          3.1.2 have capacity to enter into legally binding contracts.
        </p>
        <p>
          3.2 To become a Customer you must also provide Moonpay with the information that is requested as part of the account opening process. This includes the information to satisfy "know your customer" and anti-money laundering checks. Failure to provide any information that Moonpay reasonably requests from you pursuant to applicable money laundering laws and regulations after you have become a Customer shall be grounds for the suspension of the provision of Services to you (including access to your account) under clause 5 and/or the termination of this Agreement under clause 21. The nature and extent of the information you are required to provide may differ, for example, based on the Services provided to you under this Agreement and/or the means of payment you use.
        </p>

        <p class="heading">
          4. Cryptocurrency purchase
        </p>
        <p>
          4.1 You will be able to purchase Cryptocurrencies from us through our partners mobile applications and websites subject to the applicable fees displayed during the purchase flow. The price, exchange rate and amount of the Cryptocurrency that you wish to purchase will be confirmed at the time that you place an order for a Cryptocurrency Purchase.
        </p>
        <p>
          4.2 Acceptance by us of an order for a Cryptocurrency Purchase does not guarantee that you will receive the corresponding amount of Cryptocurrency. The Cryptocurrency Purchase is conditional upon actual receipt by us of the funds from your credit or debit card, as well as payment of any applicable fees.
        </p>
        <p>
          4.3 Subject to clause 4.2 and the transaction being honoured by the Customer’s bank, card provider or other relevant party, Cryptocurrency Purchases shall be credited to any Cryptocurrency wallet as soon as possible once the Cryptocurrency Purchase has been confirmed by the Cryptocurrency network. Once submitted to a Cryptocurrency network, a Cryptocurrency Purchase will be unconfirmed for a period of time pending sufficient confirmation of the transaction by the Cryptocurrency network. Cryptocurrency transactions that are in a pending state will not be credited to the wallet.
        </p>

        <p class="heading">
          5. Suspension of services
        </p>
        <p>
          5.1 Moonpay may withhold or suspend any Services (including your access to the Account) or any part of its functionality, where:
        </p>
        <p>
          5.1.1 it knows or reasonably suspects that the providing one or more Services:
        </p>
        <ul>
          <li>
            (a) is fraudulent or involves any criminal activity;            
          </li>
          <li>
            (b) is money laundering or relates to money laundering activities; or
          </li>
          <li>
            (c) is otherwise in breach of applicable law.
          </li>
        </ul>
        <p>
          5.1.2 you fail to provide on request such documentation as Moonpay (or any third party whose services we use in providing the Services to you under this Agreement) reasonably requires in order to comply with its obligations under applicable money laundering laws and regulations or otherwise to ensure the verification of your identity and/or funding sources to Moonpay satisfaction;
        </p>
        <p>
          5.1.3 any Cryptocurrency Purchase is significantly larger in size;
        </p>
        <p>
          5.1.4 Moonpay reasonably believes that it is necessary or desirable to do so in order to protect the security of the Account, including circumstances where any Account Details may have been lost or stolen; or          
        </p>
        <p>
          5.1.5 it is obliged to do so as a result of any law or regulation or the direction of any competent authority or regulatory body.
        </p>
        <p>
          5.2 In the case of any such withholding or suspension described in this clause 5, Moonpay shall make reasonable efforts to inform you about the withholding or suspension, provided that such disclosure:
        </p>
        <p>
          5.2.1 is not in breach of any applicable law or regulation and does not contravene the instruction of any competent authority or regulator; and
        </p>
        <p>
          5.2.2 would not compromise Moonpay's reasonable security measures.
        </p>
        <p>
          5.3 Moonpay shall not be liable to you for any losses you may suffer as a result of any reasonable action it takes to suspend the Account or withhold settlement of a Cryptocurrency Purchase in accordance with this clause 5.
        </p>
        <p>
          5.4 Where the reasons for Moonpay's actions under this clause 5 cease to exist, Moonpay may, at its discretion, either reinstate access to the Account and the Services and/or issue the Customer with new Account Details.          
        </p>

        <p class="heading">
          6. Fees
        </p>
        <p>
          6.1 All fees payable under this Agreement are displayed during the purchase flow and shall be paid in Euro or any other currency that is agreed between Moonpay and the Customer.
        </p>

        <p class="heading">
          7. Data protection law
        </p>
        <p>
          7.1 We are committed to keeping your personal information safe. We process personal information in accordance with applicable data protection legislation. Please read our Privacy Policy to understand how we use and protect the information you provide us.
        </p>

        <p class="heading">
          8. Confidentiality
        </p>
        <p class="heading">
          8.1 In this clause, "Confidential Information" means any information that is clearly labelled or identified as confidential or ought reasonably be treated as being confidential. Confidential Information excludes any information which:
        </p>
        <p>
          8.1.1 is or becomes publicly known other than through a breach of this Agreement;
        </p>
        <p>
          8.1.2 was in the receiving party’s lawful possession before the disclosure;
        </p>
        <p>
          8.1.3 is lawfully disclosed to the receiving party by a third party without restriction on disclosure;
        </p>
        <p>
          8.1.4 is independently developed by the receiving party and that independent development can be shown by written evidence; or
        </p>
        <p>
          8.1.5 is required to be disclosed by law, by any court of competent jurisdiction or by any regulatory or administrative body.
        </p>
        <p>
          8.2 Each party will hold the other’s Confidential Information in confidence and not make the other’s Confidential Information available to any third party unless that third party is subject to an equivalent duty of confidentiality. Neither party will use the other’s Confidential Information for any purpose other than the implementation of this Agreement.
        </p>
        <p>
          8.3 Each party will take all reasonable steps to ensure that the other’s Confidential Information to which it has access is not disclosed or distributed by its employees, agents or independent contractors in breach of the terms of this Agreement.
        </p>
        <p>
          8.4 This clause 8 will survive termination of this Agreement for a period of 3 years.
        </p>

        <p class="heading">
          9. Warranties and representations
        </p>
        <p>
          9.1 By agreeing to this Agreement, you represent, warrant and undertake to us that:
        </p>
        <p>
          9.1.1 you have full power and authority to enter into this Agreement;
        </p>
        <p>
          9.1.2 you understand and acknowledge that we do not warrant that any of the Services available through our API are suitable or appropriate for your needs and that you must take your own independent legal and other advice on such Services;
        </p>
        <p>
          9.1.3 you are entering into this Agreement as principal and not on behalf of any third party;
        </p>
        <p>
          9.1.4 you will not violate any applicable laws by entering into this Agreement or receiving the Services provided under it;
        </p>
        <p>
          9.1.5 funds or Cryptocurrencies transferred to the Wallet or any Sub-Wallet have been acquired lawfully;
        </p>
        <p>
          9.1.6 you understand and acknowledge that while we make reasonable endeavours to ensure the accuracy of the information that we provide, and which in turn, is provided to you, neither we nor any of our directors, employees or agents make any representation or warranty, express or implied, as to the accuracy or completeness of such information;
        </p>
        <p>
          9.1.7 any information provided by you to Moonpay under this Agreement is true, complete, accurate, up to date and not misleading; and
        </p>
        <p>
          9.1.8 you shall provide all assistance reasonably requested by Moonpay to enable Moonpay to comply with its obligations under this Agreement.          
        </p>
        <p>
          9.2 Moonpay warrants, represents and undertakes that it shall provide the Services with reasonable care and skill.
        </p>
        <p>
          9.3 Moonpay makes no representation or warranty that the Services are applicable or appropriate for use by customers in all jurisdictions and it is your responsibility to ensure compliance with the laws of any relevant jurisdiction outside Malta in connection with the provision of the Services.
        </p>
        
        <p class="heading">
          10. Limitation of liability
        </p>
        <p>
          10.1 This clause 10 sets out Moonpay's entire financial liability (including any liability for the acts or omissions of its employees, agents and sub-contractors) to the Customer:
        </p>
        <p>
          10.1.1 arising under or in connection with this Agreement;
        </p>
        <p>
          10.1.2 in respect of any use made by the Customer of the Services or any part of them; and
        </p>
        <p>
          10.1.3 in respect of any representation, misrepresentation (whether innocent or negligent), statement or tortious act or omission (including negligence) arising under or in connection with this Agreement.
        </p>
        <p>
          10.2 Except as expressly and specifically provided in this Agreement, Moonpay disclaims all warranties and conditions express or implied, including, but not limited to, implied warranties of satisfactory quality and fitness for a particular purpose, in relation to the Services, their use and the results of such use.
        </p>
        <p>
          10.3 All warranties, representations, conditions and all other terms of any kind whatsoever implied by statute or common law are excluded from this Agreement to the fullest extent permitted by applicable law.
        </p>
        <p>
          10.4 Whilst Moonpay takes every care to ensure that the standard of the Website remains high and to maintain the continuity of it, the Internet is not always a stable medium, and errors, omissions, interruptions of service and delays may occur at any time. As a result, we do not accept any ongoing obligation or responsibility to operate the Moonpay API.
        </p>
        <p>
          10.5 Moonpay disclaims all liability associated with the use of Cryptocurrency, including:
        </p>
        <p>
          10.5.1 unknown inherent technical defects;
        </p>
        <p>
          10.5.2 regulatory or legislative changes; and
        </p>
        <p>
          10.5.3 currency fluctuation.
        </p>
        <p>
          10.6 Nothing in this Agreement excludes the liability of Moonpay:
        </p>
        <p>
          10.6.1 for death or personal injury caused by Moonpay negligence;
        </p>
        <p>
          10.6.2 for fraud, fraudulent misrepresentation or fraudulent misstatement; or
        </p>
        <p>
          10.6.3 any statutory liability not capable of limitation.
        </p>
        <p>
          10.7 Subject to clause 10.6, Moonpay will not be liable whether in tort (including for negligence or breach of statutory duty), contract, misrepresentation (whether innocent or negligent), restitution or otherwise for any loss of profits, loss of business, loss or corruption of data, depletion of goodwill and/or similar losses, or pure economic loss, or for any special, punitive, indirect or consequential loss costs, damages, charges or expenses however arising under this Agreement or for any loss, damage or corruption of any Cryptocurrency as a result of the instructions, acts or omissions of the Customer. This shall include any losses attributable to a failure by the Customer to keep secure any security or other information relating to the Wallet and access to it.
        </p>

        <p class="heading">
          11. Right of withdrawal
        </p>
        <p>
          11.1 You have 14 (fourteen) calendar days to exercise your right of withdrawal from this Agreement, without having to justify any reason or pay any penalty. This withdrawal period begins on the day after the date that your application is accepted by us.
        </p>
        <p>
          11.2 We will not normally provide the Services during the withdrawal period. Any Services which are fully performed before a withdrawal cannot be reversed.
        </p>
        <p>
          11.3 You must notify your withdrawal request to us within the allotted period by email to <a href="mailto:support@moonpay.io">support@moonpay.io</a>.
        </p>
        <p>
          11.4 If you exercise your right of withdrawal, this Agreement will be terminated at no cost to you (subject to any Exchange Fees and Withdrawal Fees required to effect your withdrawal).
        </p>

        <p class="heading">
          12. Term and Termination
        </p>
        <p>
          12.1 This Agreement will commence in the manner set out in clause 1.1 and will continue unless either party notifies the other of termination, in writing, in accordance with this Agreement.
        </p>
        <p>
          12.2 This Agreement can be terminated immediately by the Customer providing written notice to Moonpay.
        </p>
        <p>
          12.3 This Agreement can be terminated with immediate effect by Moonpay if:
        </p>
        <p>
          12.3.1 it suspects that the Customer is in breach of any of its warranties and representations in clause 18;
        </p>
        <p>
          12.3.2 the Customer is in material breach of this Agreement;
        </p>
        <p>
          12.3.3 the Customer fails on request to provide such information or documentation as Moonpay (or any third party whose services we use in providing the Services to you under this Agreement) may reasonably request in order to ensure compliance with applicable money laundering laws and regulations or otherwise to ensure the verification of your identity and/or funding sources to Moonpay satisfaction;
        </p>
        <p>
          12.3.4 the Customer ceases trading (or threatens to cease trading); is subject to an order for winding up; has an administrator or liquidator appointed (or such appointment is entitled or is requested in good faith); is the subject of a bankruptcy petition or order; becomes insolvent; is incapable of paying its debts as they fall due; makes any arrangement with its creditors for the payment of its debts.
        </p>
        <p>
          12.5 Any termination is without prejudice to either party’s accrued rights or remedies.
        </p>
        <p>
          12.6 The accrued rights and remedies of the parties, and clauses 8, 9 and 12.5, will survive termination of this Agreement for any reason.
        </p>

        <p class="heading">
          13. Force majeure
        </p>
        <p>
          13.1 No party will be in breach of this Agreement nor liable for any failure to perform its obligations under this Agreement if that failure results from circumstances beyond its reasonable control.
        </p>
        <p class="heading">
          14. Notices
        </p>
        <p>
          14.1 We may (where allowed to do so by law) communicate with you by posting information in your Account or on the Website, in which case the information will be treated as received by you when it is posted by us.
        </p>
        <p>
          14.2 We may also contact you at the postal or email address you provide us with when applying to open your Account. Notices sent by email will be deemed to have been received at the time of transmission as shown by the sender’s records (or if sent outside business hours, at 9 am on the first Business Day following despatch). Notice sent by post will be deemed to have been received on the second business day after posting.
        </p>
        <p class="heading">
          15. Complaints
        </p>
        <p>
          15.1 For any complaint relating to the Services, you are advised to contact <a href="mailto:support@moonpay.io">support@moonpay.io</a>.
        </p>
        <p class="heading">
          16. General
        </p>
        <p>
          16.1 A waiver of any right under this Agreement is only effective if it is in writing.
        </p>
        <p>
          16.2 If any provision (or part of a provision) of this Agreement is found to be invalid, unenforceable or illegal, the other provisions (or parts of any provisions) will remain in force. Nothing in this Agreement shall be deemed, or is intended to be deemed, nor shall it cause, either you or Moonpay to be treated as the agent of the other.
        </p>
        <p>
          16.3 This Agreement constitutes the entire agreement between the parties and supersedes any previous agreement between them.
        </p>
        <p>
          16.4 The Customer will not assign, transfer, charge, sub-contract or deal in any other manner with all or any of its rights or obligations under this Agreement, without the prior written consent of Moonpay. However, we may assign, transfer or sub-contract our respective rights and obligations under this Agreement upon providing you with 30 days’ notice in writing.
        </p>
        <p>
          16.5 This Agreement does not confer any rights on any person or party (other than the parties to this Agreement and (where applicable) their successors and permitted assigns) pursuant to the Contracts (Rights of Third Parties) Act 1999.
        </p>
        <p>
          16.6 Moonpay may amend this Agreement as it sees fit. Moonpay may make all amendments to the Agreement by posting the revised Agreement on the Website or by emailing it to you, indicating when the revised Agreement becomes effective. Moonpay will take all reasonable steps to notify you of each amendment in advance of it taking effect, however, where permitted and necessary due to circumstances, we may indicate that an amendment shall be effective immediately. Copies of the current version of the Agreement will be made available on the Website.
        </p>
        <p>
          16.7 This Agreement will be governed by, and construed in accordance with, the laws of Malta and, subject to any overriding legal requirements, the parties irrevocably submit to the exclusive jurisdiction of the Maltese Courts. This Agreement and any information or notifications that you or we are to provide should be in English.
        </p>
        <p>
          16.8 If you have any feedback, questions, or complaints, you may contact us via our customer support webpage orsupport@moonpay.io.
        </p>
      </div>
    </ion-content>
  </ion-view>