<div ng-controller="homeIntegrationsController">
  <div class="item item-icon-right item-heading" ng-click="toggle()" >
    <span translate>Services</span>
    <i class="icon bp-arrow-up" ng-show="!hide"></i>
    <i class="icon bp-arrow-down" ng-show="hide"></i>
  </div>
  <div ng-show="!hide">
    <div ng-repeat="service in services track by $index">
      <a ng-if="service.name=='buyandsell'" ui-sref="{{service.sref}}" id="home_{{service.name}}" title="{{service.title ||  service.name}}" class="buy_bitcoin_click item item-sub item-icon-left item-big-icon-left item-icon-right next-step">
        <i class="icon big-icon-svg theme-circle">
          <div class="bg {{service.icon}}"></div>
        </i>
        <span class="title">{{service.title ||  service.name}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>
      <a ng-if="service.name!='buyandsell'" ui-sref="{{service.sref}}" id="home_{{service.name}}" title="{{service.title ||  service.name}}" class="track_link_click_out item item-sub item-icon-left item-big-icon-left item-icon-right next-step">
        <i class="icon big-icon-svg theme-circle">
          <div class="bg {{service.icon}}"></div>
        </i>
        <span class="title">{{service.title ||  service.name}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
