<div ng-hide="direction=='in' || direction=='out'">
  <div>
    <select ng-model="selectedCoinModel.coin" ng-change="getMarketData(selectedCoinModel.coin)">
      <option ng-repeat="(k, coin) in coins" value="{{coin.symbol}}">
        {{coin.symbol}}
      </option>
    </select>
    <br/>
    <div>
      <div>
        <div>
          <label>{{ label }}</label>
          <input type="text" ng-model="coinAddress">
        </div>
        <div ng-show="direction=='in'">
          <label>Amount</label>
          <input type="text" ng-model="amount">
        </div>
      </div>
      <div ng-if="direction=='in'">
        <div>Minimum Amount: {{marketData.minimum}}</div>
        <div>Maximum Amount: {{marketData.limit}}</div>
        <div>MinerFee: {{marketData.minerFee}}</div>
        <div>Rate: {{marketData.rate}}</div>
      </div>
    </div>
  </div>
</div>
