<div
  id="slide-success-background"
  ng-class="{'fill-screen': fillScreen}">
</div>

<div ng-disabled="wallet" class="slide-success-content">

  <div class="slide-success-image-container">
    <img src="img/icon-sent-successful.svg" ng-class="{reveal: fillScreen}">
  </div>

  <div class="slide-success-status-text" ng-class="{reveal: fillScreen}">
    <ng-transclude ng-if="!destinationIsAGame"></ng-transclude>
    <div ng-if="destinationIsAGame && !didLose && !didWin">
      <div translate>Payment Sent to</div>
      <div class="address">{{destinationAddress}}</div>
    </div>
    <div>
      <span ng-if="destinationIsAGame && didLose" translate>Nothing Received</span><br/>
      <span>&nbsp;</span>
    </div>
    <div>
      <span ng-if="destinationIsAGame && didWin" translate>Received</span>
      <span>&nbsp;</span>
    </div>
  </div>

  <div class="slide-success-content-action" ng-show="destinationIsAGame">
    <div class="slide-success-spinner"></div>
  </div>

  <div class="slide-success-content-share" ng-show="hasShareFunction" ng-class="{reveal: fillScreen}" ng-click="onShareButtonClick()">
    
    <span><img class="slide-success-share-icon" src="img/icon-share-white.svg"></span><span translate>Share this transaction</span>
    <div ng-if="didWin">
      WIN
    </div>
    <div ng-if="didLose">
      LOSE
    </div>
  </div>
</div>

<div class="slide-success-footer" ng-class="{reveal: fillScreen}">
  <a class="slide-success-footer-button" ng-click="onConfirmButtonClick()">OK</a>
</div>
