<div
  class="slide-success-background"
  ng-class="{'fill-screen': fillScreen, 'did-lose': didLose, 'did-win': didWin}">
</div>

<div ng-disabled="wallet" class="slide-success-content" ng-class="{'did-lose': didLose, 'did-win': didWin, reveal: fillScreen}">

  <div class="slide-success-image-container">
    <img src="img/icon-sent-successful.svg">
  </div>

  <div class="slide-success-status-text">
    <ng-transclude ng-if="!destinationIsAGame"></ng-transclude>
    <div ng-if="destinationIsAGame && !didLose && !didWin">
      <div translate>Payment Sent to</div>
      <div class="address">{{destinationAddress}}</div>
    </div>
    <div ng-if="destinationIsAGame && didLose">
      <div translate>Nothing Received</div>
      <div class="address">&nbsp;</div>
    </div>
    <div ng-if="destinationIsAGame && didWin">
      <div  translate>Received</div>
      <div class="address">&nbsp;</div>
    </div>
  </div>

  <div class="slide-success-content-action" ng-show="destinationIsAGame">
    <div class="slide-success-spinner"></div>
  </div>

  <div class="slide-success-content-share" ng-show="hasShareFunction && !(destinationIsAGame && (!didLose && !didWin))" ng-class="{reveal: fillScreen}" ng-click="onShareButtonClick()">
    <span><img class="slide-success-share-icon" src="img/icon-share-white.svg"></span><span translate>Share this transaction</span>
  </div>
</div>

<div class="slide-success-footer" ng-class="{reveal: fillScreen}">
  <a class="slide-success-footer-button" ng-click="onConfirmButtonClick()">OK</a>
</div>
