%button-standard {
  width: 90%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button,
.onboarding .button {
  &.button-primary {
    @include button-style($v-button-primary-bg, $v-button-primary-border, $v-button-primary-active-bg, $v-button-primary-active-border, $v-button-primary-color);
    @include button-clear($v-button-primary-bg);
    @include button-outline($v-button-primary-bg);
  }
  &.button-primary,
  &.button-secondary,
  &.button-light,
  &.button-white,
  &.button-green,
  &.button-assertive {
    &.button-standard {
      @extend %button-standard;
      & + .button-standard {
        margin-top: 1rem;
      }
    }
  }
}
.onboarding .button {
  &.button-secondary {
    @include button-style($v-onboarding-button-secondary-bg, $v-onboarding-button-secondary-border, $v-onboarding-button-secondary-active-bg, $v-onboarding-button-secondary-active-border, $v-onboarding-button-secondary-color);
    @include button-clear($v-onboarding-button-secondary-color);
    @include button-outline($v-onboarding-button-secondary-color);
  }
}

@mixin button-shadow() {
  box-shadow: 0 2px 11px 0 #C1C1C1;;
}

.button {
  &.button-secondary {
    @include button-style($v-button-secondary-bg, $v-button-secondary-border, $v-button-secondary-active-bg, $v-button-secondary-active-border, $v-button-secondary-color);
    @include button-clear($v-button-secondary-color);
    @include button-outline($v-button-secondary-color);
  }
}

.button-sendmax {
  font-size: 0.7em !important;
  display: inline !important;
}

.button {
  border-radius: 3px;
  &.button-full {
    border-radius: 0;
    display: block;
  }
  &-green {
    @include button-style(#15d6a0, #11A87E, #15d6a0, #11A87E, #FFF);
    @include p3-green();
    border: 1px;
  }
  &-white {
    @include button-style(#FFF, transparent, transparent, transparent, #13171F);
    border:1px solid #C7CDD8;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
    @include button-clear(#FFF);
    &.activated {
      background-color: rgba(0,0,0,0.05);
    }
    &-outline {
      @include button-style(transparent, #FFFFFF, #FFFFFF, transparent, #FFFFFF);
      @include button-outline(#FFFFFF);
      background: none;
      box-shadow: none;
      &.activated {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
  &-grey-outline {
    @include button-style(transparent, #727272, #FAFAFA, #727272, #727272);
    @include button-outline(#727272);
    background: none;
    box-shadow: none;
  }
  &-card-style {
    border-radius: 3px;

    &.white{
      @include button-style(#FFF, transparent, #FFF, #FFF, #15d6a0);
      background: white;
      border-color: #C7CDD8;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
      color: #13171F;
      background: rgb(253, 253, 253); 
      &.activated {
        background-color: rgba(0,0,0,0.05);
      }
    }

    &.white-outline{
      @include button-style(transparent, #FFF, #FFF, #FFF, #FFF);
    }
  }
  &-drop-shadow {
    box-shadow: 0 3px 30px 0 rgba(105, 105, 105, 0.07);
  }
}