@font-face {
  font-family: 'Roboto-Black';
  src: url('../roboto-font/roboto-black-webfont.woff2') format('woff2'),
  url('roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Black-Italic';
  src: url('../roboto-font/roboto-blackitalic-webfont.woff2') format('woff2'),
  url('roboto-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Bold';
  src: url('../roboto-font/roboto-bold-webfont.woff2') format('woff2'),
  url('roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Bold-Italic';
  src: url('../roboto-font/roboto-bolditalic-webfont.woff2') format('woff2'),
  url('roboto-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Italic';
  src: url('../roboto-font/roboto-italic-webfont.woff2') format('woff2'),
  url('roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Light';
  src: url('../roboto-font/roboto-light-webfont.woff2') format('woff2'),
  url('roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Light-Italic';
  src: url('../roboto-font/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('roboto-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Medium';
  src: url('../roboto-font/roboto-medium-webfont.woff2') format('woff2'),
  url('roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Medium-Italic';
  src: url('../roboto-font/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto';
  src: url('../roboto-font/roboto-regular-webfont.woff2') format('woff2'),
  url('roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Thin';
  src: url('../roboto-font/roboto-thin-webfont.woff2') format('woff2'),
  url('roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto-Thin-Italic';
  src: url('../roboto-font/roboto-thinitalic-webfont.woff2') format('woff2'),
  url('roboto-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../gilroy/Radomir Tinkov - Gilroy-Regular.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-Regular.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-Regular.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-Regular.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-Regular.svg#Gilroy-Regular") format("svg");
    font-style: normal;
    font-weight: regular;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../gilroy/Radomir Tinkov - Gilroy-Medium.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-Medium.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-Medium.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-Medium.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-Medium.svg#Gilroy-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-Heavy";
    src: url("../gilroy/Radomir Tinkov - Gilroy-Heavy.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-Heavy.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-Heavy.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-Heavy.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-Heavy.svg#Gilroy-Heavy") format("svg");
    font-style: normal;
    font-weight: heavy;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../gilroy/Radomir Tinkov - Gilroy-Bold.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-Bold.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-Bold.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-Bold.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-Bold.svg#Gilroy-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.eot");
    src: url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.woff2") format("woff2"),
         url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.woff") format("woff"),
         url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.ttf") format("ttf"),
         url("../gilroy/Radomir Tinkov - Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
    font-style: normal;
    font-weight: 800;
}