.icon.bp-arrow-right {
  @extend .ion-ios-arrow-right;
  @extend .just-a-hint;
}

.icon.bp-arrow-down {
  @extend .ion-ios-arrow-down;
  @extend .just-a-hint;
}

.icon.bp-arrow-up {
  @extend .ion-ios-arrow-up;
  @extend .just-a-hint;
}

.just-a-hint {
  opacity: 0.2;
}

.item.item-big-icon-left {
  padding-left: 74px;
}


.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    background-repeat:no-repeat;
    background-clip: padding-box;
    background-size: contain;
    height: 18px;
  }
}

.big-icon-svg {
  padding: 0 7px;
  > .bg {
    border-radius: $v-icon-border-radius;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    background-repeat:no-repeat;
    background-clip: padding-box;
    background-size: 103%;
    &.green{
      background: rgb(1, 209, 162);
    }
  }

  &.theme-circle {
    > .bg {
      border-radius: 50%;
      background-size: 85%;
      background-position: 50%;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      border: 1px solid #faba13;
      text-align: center;
      font-size: 30px;

      &:before {
        vertical-align: middle;
      }

      &.icon-shapeshift {
        background-color: #263e5c;
      }

      &.icon-buy-bitcoin2 {
        border: 1px solid #faba13;
      }

      &.icon-reddit-white {
        background-image: url('../img/icon-reddit-white.svg');
        background-color: #ff4500;
        background-size: 60%;
      }

      &.icon-twitter-white {
        background-image: url('../img/icon-twitter-white.svg');
        background-color: #1da1f2;
        background-size: 60%;
      }

      &.icon-faucet {
        background-image: url('../img/icon-faucet.svg');
        background-size: 70%;
      }

      &.icon-wallet {
        background-color: #FAB915;
        background-image: url('../img/icon-wallet.svg');
        border: none;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.3) inset;
      }
    }
  }

  &.theme-circle-services {
    > .bg {
      border: 1px solid #191919;
    }
  }

  &.theme-circle-community {
    > .bg {
      border: 1px solid #FFFFFF;
    }
  }
}


.wallet-item {
  padding: 1rem 0 2rem 0;
  .name {
    color: #445;
    text-align:center;
  }
  .big-icon-svg {
    &.circle{
      left:8px;
      .bg {
        border-radius: $v-icon-border-radius;
        width: 70px;
        height: 70px;
        padding:.1rem;
        margin: 0.2rem;
        box-shadow: 0px 1px 5px rgba($v-mid-gray, .1);
        display:flex;
        margin:auto;
      }
    }
  }
  &:before {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(221, 221, 221, 0.3);
    top: 0;
    right: 0;
    content: '';
  }
}

.loading .spinner svg {
  margin-top: 0;
}