qrcode {
  &.qr-icon {
    &::before {
      content: "";
      background-size: 100% 100%;
      display: block;
      margin-left: calc(50% - 22px);
      margin-top: 88px;
      width: 44px;
      height: 44px;
      position: absolute;
    }
    &--bch::before {
      background-image: url('../img/icon-qr-bch.png');
    }
    &--btc::before {
      background-image: url('../img/icon-qr-btc.png');
    }
  }
}