/*
 * App variables
 */

/* Fonts */
$v-font-family:                                      "Gilroy-Medium", "Roboto", sans-serif !default;
$v-font-family-light:                                "Gilroy-Regular", "Roboto-Light", sans-serif-light !default;

/* Colors */
$v-bitcoin-green:                                    #0AC18E !default;
$v-bitcoin-orange:                                   #fab915 !default;
$v-bitcoin-core:                                     #535353 !default;

$v-off-black:                                        #262424;
$v-dark-gray:                                        #445 !default;
$v-mid-gray:                                         #6B717E !default;
$v-light-gray:                                       #9b9bab !default;
$v-subtle-gray:                                      #fbfcff !default;

$v-primary-color:                                    #1e3186 !default;
$v-secondary-color:                                  #111b49 !default;
$v-accent-color:                                     #647ce8 !default;

$v-text-primary-color:                               #1e3186 !default;
$v-text-secondary-color:                             #ffffff !default;
$v-text-accent-color:                                #647ce8 !default;

$v-success-color:                                    #13e5b6 !default;
$v-warning-color:                                    #ffa500 !default;
$v-warning-color-2:                                  #b7664d;
$v-error-color:                                      #FF5248 !default;

$v-background-root-color:                            #fbfcff;
$v-background-under-card:                            #fbfcff;

$v-wallet-color-map: (
  0: (color: #FF4A33, name: 'Cinnabar', url: '../img/colors/cinnabar.png'),
  1: (color: #FF6100, name: 'Carrot Orange', url: '../img/colors/carrot-orange.png'),
  2: (color: #FF8888, name: 'Light Salmon', url: '../img/colors/light-salmon.png'),
  3: (color: #928C3E, name: 'Metallic Gold', url: '../img/colors/metallic-gold.png'),
  4: (color: #48DC54, name: 'Feijoa', url: '../img/colors/feijoa.png'),
  5: (color: #00BD89, name: 'Shamrock', url: '../img/colors/shamrock.png'),
  6: (color: #F9A254, name: 'Light Orange', url: '../img/colors/light-orange.png'),
  7: (color: #283144, name: 'Dark Grey', url: '../img/colors/dark-grey.png'),
  8: (color: #00D8D8, name: 'Turquoise Blue', url: '../img/colors/turquoise-blue.png'),
  9: (color: #0073FF, name: 'Cornflower Blue', url: '../img/colors/cornflower-blue.png'),
 10: (color: #590EFF, name: 'Free Speech Blue', url: '../img/colors/free-speech-blue.png'),
 11: (color: #BA11FF, name: 'Deep Lilac', url: '../img/colors/deep-lilac.png'),
 12: (color: #F523FF, name: 'Free Speech Magenta', url: '../img/colors/free-speech-magenta.png'),
 13: (color: #FF2C84, name: 'Brilliant Rose', url: '../img/colors/brilliant-rose.png'),
 14: (color: #6B717E, name: 'Light Slate Grey', url: '../img/colors/light-slate-grey.png')
) !default;

/* Theme */
$v-default-wallet-color-index:                       6 !default; // See $v-wallet-color-map
$v-default-cashwallet-color-index:                   5 !default; // See $v-wallet-color-map
$v-subtle-box-shadow:                                rgb(255, 255, 255) 0px 2px 3px 0px inset, rgba(21, 19, 56, 0.07) 0px 4px 10px 0px, rgba(7, 7, 12, 0.05) 0px 5px 25px 0px !default;
$v-hovering-box-shadow:                              0px 6px 12px 0px rgba(0, 0, 0, 0.3) !default;
$v-subtle-radius:                                    3px !default;
$v-visible-radius:                                   6px !default;
$v-unmistakable-radius:                              12px !default;
$v-scanner-background-color:                         $v-primary-color !default;
$v-scanner-guide-color:                              $v-accent-color !default;
$v-top-tabs-color:                                   $v-primary-color !default;

$v-wallet-backup-bg:                                 #ffffff !default;
$v-wallet-backup-phrase-bg:                          $v-subtle-gray !default;
$v-wallet-backup-phrase-color:                       $v-dark-gray !default;
$v-wallet-backup-select-phrase-color:                $v-subtle-gray;
$v-wallet-backup-select-word-bg:                     #ffffff !default;
$v-wallet-backup-select-word-color:                  $v-dark-gray !default;
$v-wallet-backup-select-word-disabled-color:         $v-light-gray !default;
$v-tou-bg:                                           #ffffff !default;
$v-tou-color:                                        $v-dark-gray !default;
$v-icon-color:                                       $v-accent-color !default;
$v-icon-negative-color:                              $v-accent-color !default;
$v-icon-border-radius:                               50% !default;
$v-bitcoin-icon:                                     url('../img/icon-bitcoin.svg') !default;

$v-button-primary-bg:                                $v-accent-color !default;
$v-button-primary-color:                             #ffffff !default;
$v-button-primary-border:                            transparent !default;
$v-button-primary-active-bg:                         darken($v-accent-color, 10%) !default;
$v-button-primary-active-border:                     transparent !default;
$v-button-primary-clear-bg:                          none !default;
$v-button-primary-clear-color:                       $v-accent-color !default;
$v-button-primary-disabled-bg:                       $v-mid-gray;
$v-button-primary-outline-bg:                        transparent !default;
$v-button-primary-outline-border:                    $v-accent-color !default;
$v-button-primary-outline-color:                     $v-accent-color !default;
$v-button-primary-outline-active-bg:                 $v-accent-color !default;
$v-button-primary-outline-active-color:              #ffffff !default;

$v-button-secondary-bg:                              $v-subtle-gray !default;
$v-button-secondary-color:                           $v-dark-gray !default;
$v-button-secondary-border:                          transparent !default;
$v-button-secondary-active-bg:                       $v-subtle-gray !default;
$v-button-secondary-active-border:                   transparent !default;
$v-button-secondary-clear-bg:                        none !default;
$v-button-secondary-clear-color:                     $v-dark-gray !default;
$v-button-secondary-outline-border:                  $v-dark-gray !default;
$v-button-secondary-outline-bg:                      transparent !default;
$v-button-secondary-outline-color:                   $v-dark-gray !default;
$v-button-secondary-outline-active-bg:               $v-dark-gray !default;
$v-button-secondary-outline-active-color:            #ffffff !default;

/* Slide */

$v-slide-bg-color:                                   $v-accent-color !default;
$v-slider-bg-color:                                  #5063B9 !default;
$v-slide-text-color:                                 #FFFFFF !default;
$v-success-bg-color:                                 #11D1A6 !default;

/* Onboarding */
$v-onboarding-pane-bg:                               $v-primary-color !default;
$v-onboarding-gradient-top-color:                    $v-primary-color !default;
$v-onboarding-gradient-bottom-color:                 $v-secondary-color !default;
$v-onboarding-welcome-bg:                            url(../img/onboarding-welcome-bg.png) !default;
$v-onboarding-color:                                 #ffffff !default;
$v-onboarding-bar-header-color:                      #ffffff !default;
$v-onboarding-bar-header-button-color:               #ffffff !default;
$v-onboarding-tour-swiper-pagination-bg:             $v-accent-color !default;
$v-onboarding-backup-alert-icon-color:               $v-accent-color !default;
$v-onboarding-checkbox-off-border:                   $v-accent-color !default;
$v-onboarding-checkbox-on-border:                    $v-accent-color !default;

$v-onboarding-tour-phone-bg:                         url(../img/onboarding-tour-phone.svg) !default;
$v-onboarding-tour-currency-bg:                      url(../img/onboarding-tour-currency-bg.svg) !default;
$v-onboarding-tour-control-bg:                       url(../img/onboarding-tour-control.svg) !default;
$v-onboarding-backup-warning-bg:                     url(../img/backup-warning.svg) !default;

$v-onboarding-button-back-color:                     #ffffff !default;

$v-onboarding-button-secondary-bg:                   rgba($v-light-gray, 0.1) !default;
$v-onboarding-button-secondary-color:                #ffffff !default;
$v-onboarding-button-secondary-border:               transparent !default;
$v-onboarding-button-secondary-active-bg:            rgba($v-light-gray, 0.2) !default;
$v-onboarding-button-secondary-active-border:        transparent !default;
$v-onboarding-button-secondary-clear-bg:             transparent !default;
$v-onboarding-button-secondary-clear-color:          #ffffff !default;
$v-onboarding-button-secondary-outline-border:       #ffffff !default;
$v-onboarding-button-secondary-outline-bg:           transparent !default;
$v-onboarding-button-secondary-outline-color:        #ffffff !default;
$v-onboarding-button-secondary-outline-active-bg:    #ffffff !default;
$v-onboarding-button-secondary-outline-active-color: #ffffff !default;

/* Main tabs */
$v-tab-home-icon:                                    url('../img/app/tab-icons/ico-home.svg') !default;
$v-tab-home-selected-icon:                           url('../img/app/tab-icons/ico-home-selected.svg') !default;
$v-tab-receive-icon:                                 url('../img/app/tab-icons/ico-receive.svg') !default;
$v-tab-receive-selected-icon:                        url('../img/app/tab-icons/ico-receive-selected.svg') !default;
$v-tab-settings-icon:                                url('../img/app/tab-icons/ico-settings.svg') !default;
$v-tab-settings-selected-icon:                       url('../img/app/tab-icons/ico-settings-selected.svg') !default;
$v-tab-scan-icon:                                    url('../img/app/tab-icons/ico-scan.svg') !default;
$v-tab-scan-selected-icon:                           url('../img/app/tab-icons/ico-scan-selected.svg') !default;
$v-tab-send-icon:                                    url('../img/app/tab-icons/ico-send.svg') !default;
$v-tab-send-selected-icon:                           url('../img/app/tab-icons/ico-send-selected.svg') !default;
$v-tab-spend-icon:                                   url('../img/app/tab-icons/ico-spend.svg') !default;
$v-tab-spend-selected-icon:                          url('../img/app/tab-icons/ico-spend-selected.svg') !default;

/*
 * Ionic variables
 */
$royal:                                              $v-primary-color !default;
$positive:                                           $v-accent-color !default;

$font-size-base:                                     16px !default;
$font-size-small:                                    12px !default;
$font-family-sans-serif:                             $v-font-family !default;
$font-family-light-sans-serif:                       $v-font-family-light !default;

$link-color:                                         $v-accent-color !default;

$button-border-radius:                               $v-subtle-radius !default;
$button-height:                                      52px !default;
$button-padding:                                     16px !default;

$base-background-color:                              $v-subtle-gray !default;

$item-default-active-bg:                             $v-subtle-gray !default;
$item-icon-font-size:                                24px !default;

$input-color:                                        $v-dark-gray !default;
$input-border:                                       $v-light-gray !default;
$input-label-color:                                  $v-mid-gray !default;
$input-color-placeholder:                            lighten($v-dark-gray, 40%) !default;

$item-default-bg:                                    #ffffff !default;
$item-default-border:                                $v-subtle-gray !default;
$item-default-text:                                  $v-dark-gray !default;
$item-default-active-bg:                             darken(#ffffff, 7%) !default;
$item-default-active-border:                         darken($v-subtle-gray, 7%) !default;
$item-divider-bg:                                    $v-subtle-gray !default;

$bar-default-border:                                 $v-subtle-gray !default;
$bar-royal-bg:                                       $v-background-root-color !default;
$bar-royal-border:                                   $v-background-root-color !default;
$bar-royal-text:                                     #000 !default;
$toolbar-background:                                 $v-background-root-color;

$tabs-icon-size:                                     22px !default;

$ios-transition-duration:                            200ms !default;

$card-box-shadow:                                    $v-subtle-box-shadow !default;

$toggle-on-positive-border:                          $v-accent-color !default;
$toggle-on-positive-bg:                              $v-accent-color !default;
