#tab-buy-bitcoin {
  
    .apl {
      padding-top: 8px;
    }

    img.intro {
      display: block;
      margin: auto;
      max-width: 70%;
    }
  
    h1 {
      height: auto;
    }

    a.apl-button {
      font-weight: bold;    
    }

    small {
      color: black;

      a:link {
        text-decoration: underline;
      }
    }

    .terms {
      padding: 16px 0;
    }
  
}