#buy-bitcoin-welcome {
  display: flex;
  height: 100%;
  flex-direction: column;

  padding-top: 8px;
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

  #main-content {
    align-items: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
  
    .image-container {
      flex-shrink: 1;
      min-height: 16px;
      display: flex;
      justify-content: center;

      img {
        max-width: 70%;
      }
    }

    form {

      .error {
        color: $v-warning-color-2;
        margin: 0 16px;
      }

      .row {
        align-items: baseline;
        display: flex;
        padding: 0;
        font-size: 17px;

        label {
          font-size: 17px;
          font-weight: 600;
          margin: 0 8px 0 16px;
        }

        input {
          flex-grow: 1;
          font-size: 17px;
          padding: 0 16px 0 0;
          text-align: right;
        }
      }
    }

  }

  #bottom-button {
    bottom: auto;
    box-shadow: none;
    position: static;
    flex-grow: 0;
  }
}

