<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Explore Bitcoin.com</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="bitcoin-com-page-header">
        <span class="nav-bar-title textlogo"><span class="moon-symbol"></span>itcoin.com</span>
	<p>Your one-stop-shop for everything bitcoin</p>
    </div>

    <div class="bitcoin-com-page-body">
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://www.bitcoin.com')">Visit Bitcoin.com</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://news.bitcoin.com')">Read The News</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://forum.bitcoin.com')">Visit Our Forum</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://store.bitcoin.com')">Visit Our Store</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://pool.bitcoin.com')">Bitcoin.com Cloud Mining</button>
    </div>
  </ion-content>

</ion-view>
