<ion-view id="tab-buy-bitcoin" show-tabs>
  <ion-content class="apl">
    <h1>
      Account Status
    </h1>
    <div class="apl-card">
        <a class="item item-icon-left item-big-icon-left item-icon-right">
          <i class="icon big-icon-svg">
            <span class="apl-card__icon"></span>
          </i>
          <div class="apl-card__title__container">
            <div class="apl-card__title">
              Weekly Purchase Limit
            </div>
            <div class="apl-card__subtitle">
              Monthly limit $300 / $1500
            </div>
          </div>
          <i class="icon bp-arrow-right"></i>
        </a>
    </div>

    <h1>
      Buy Bitcoin Cash (BCH)
    </h1>
    <div class="apl-list">
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-card__icon c1"></span>
        </i>
        <p>Buy Instantly</p>
      </div>
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-card__icon c2"></span>
        </i>
        <p>Advanced Order</p>
      </div>
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-card__icon c3"></span>
        </i>
        <p>Auto Top Up</p>
      </div>
    </div>
    <h1>
      Quick Links
    </h1>
    <div class="apl-list">
      <div class="item item-icon-right apl-list-item">
        <p>Pending Orders</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-icon-right apl-list-item">
        <p>Purchase History</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-icon-right apl-list-item">
        <p>Payment Methods</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item apl-list-item">
        <p>Terms of Service</p>
      </div>
      <div class="item apl-list-item">
        <p>Privacy Policy</p>
      </div>
    </div>
  </ion-content>
</ion-view>
