<ion-view id="tab-buy-bitcoin" hide-tabs>
  <ion-nav-bar>
    <ion-nav-buttons side="secondary">
      <button class="button apl-close-button" ng-click="$ionicGoBack()">
        <i class="icon ion-close"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="apl">
    <h1 translate>
      Account Status
    </h1>
    <div class="apl-card">
        <a class="item item-icon-left item-big-icon-left item-icon-right">
          <i class="icon big-icon-svg">
            <span class="apl-icon"></span>
          </i>
          <div class="apl-card__title__container">
            <div class="apl-card__title" translate>
              Weekly Purchase Limit
            </div>
            <div class="apl-card__subtitle" translate>
              Monthly limit $300 / $1500
            </div>
          </div>
          <i class="icon bp-arrow-right"></i>
        </a>
    </div>

    <h1 translate>
      Buy Bitcoin Cash (BCH)
    </h1>
    <div class="apl-list">
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-icon c1"></span>
        </i>
        <p translate>Buy Instantly</p>
      </div>
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-icon c2"></span>
        </i>
        <p translate>Advanced Order</p>
      </div>
      <div class="item item-icon-left item-big-icon-left apl-list-item">
        <i class="icon big-icon-svg">
          <span class="apl-icon c3"></span>
        </i>
        <p translate>Auto Top Up</p>
      </div>
    </div>
    <h1 translate>
      Quick Links
    </h1>
    <div class="apl-list">
      <div class="item item-icon-right apl-list-item">
        <p translate>Pending Orders</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-icon-right apl-list-item">
        <p translate>Purchase History</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-icon-right apl-list-item">
        <p translate>Payment Methods</p>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item apl-list-item">
        <p translate>Terms of Service</p>
      </div>
      <div class="item apl-list-item">
        <p translate>Privacy Policy</p>
      </div>
    </div>
  </ion-content>
</ion-view>
