<ion-view id="buy-and-sell">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Buy Bitcoin</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="explain">
        <div class="explain-heading">Buy Bitcoin</div>
        <div class="explain-description">Buy bitcoin using a credit card</div>
        <div class="item item-divider"></div>
        <div class="bitcoin-com-page-body">
            <button class="button button-standard button-secondary" ng-click="openExternalLink('https://buy.bitcoin.com')">Visit Buy.Bitcoin.com</button>
        </div>
      </div>
      <div class="item item-divider"></div>
    </div>
  </ion-content>
</ion-view>
