<ion-view id="buy-and-sell">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Buy Bitcoin</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="explain">
        <div class="explain-heading">Choose an Exchange</div>
        <div class="explain-description">We recommend the following exchange:</div>
        <div class="item item-divider"></div>
	<div>
	    <img src="" id="exchange-logo" style="max-width: 50%;" />
	    <p id="exchange-name" style="font-size: 32px;"></p>
	    <p id="exchange-text"></p>
	</div>
      </div>
      <div class="item item-divider"></div>
    </div>
  </ion-content>
</ion-view>
