<ion-view id="buy-and-sell">
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Buy with a credit card</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="explain">
        <i class="icon buy-and-sell-icon">
          <img src="img/icon-bitcoin.svg"/>
        </i>
        <div class="explain-heading">Buy bitcoin with credit card using Simplex</div>
        <div class="explain-description">Click on the link below to go to Buy.Bitcoin.com</div>
      </div>
      <div class="item item-divider"></div>
      <div class="bitcoin-com-page-body">
        <button class="track_buy_bitcoin_click button button-standard button-secondary" ng-click="openExternalLink('https://buy.bitcoin.com/?utm_source=WalletApp&utm_medium=' + os + '&utm_campaign=BuyBitcoin')">Buy bitcoin</button>
      </div>
    </div>
  </ion-content>
</ion-view>
