<ion-view id="marco-coino" class="apl light" show-tabs>
  <ion-nav-bar class="bar-dark">
    <ion-nav-title>{{'Marco Coino' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div id="container">
      <iframe id="map" src="https://marco-coino.firebaseapp.com/marcocoino-embed.html?lat=35.652832&long=139.839478&zoom=5&color=gold"></iframe>
      <div id="add-merchant">
        <h1 translate>Add a Business</h1>
        <p translate>Do you have or know a business that accepts Bitcoin Cash? Add it.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
