<ion-view id="settings-pricedisplay" class="settings" show-tabs>
  <ion-nav-bar>
    <ion-nav-title>
      {{'Price Display'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="price-display">
      <ion-radio ng-value="'fiat'" ng-model="selectedPriceDisplay" ng-click="save(selectedPriceDisplay)">
        <span translate>Fiat</span>
      </ion-radio>
      <ion-radio ng-value="'crypto'" ng-model="selectedPriceDisplay" ng-click="save(selectedPriceDisplay)">
        <span translate>Cryptocurrency</span>
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
