<ion-view id="tab-cspreferences" class="settings" show-tabs>
  <ion-nav-bar>
    <ion-nav-title>{{'CashShuffle' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">

      <ion-toggle
        ng-model="cs.preferences.shufflingEnabled"
        toggle-class="toggle-balanced"
        ng-change="cs.updateWalletPreferences()"
        ng-disabled="cs.preferences.preferencesLoading">
        <span class="toggle-label" translate>Enable CashShuffle for all wallets</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, you will be able to select coins you wish to shuffle under the "CashShuffle" tab.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle
        ng-model="cs.preferences.autoShuffle"
        toggle-class="toggle-balanced"
        ng-change="cs.updateWalletPreferences()"
        ng-disabled="!cs.preferences.shufflingEnabled || cs.preferences.preferencesLoading">
        <span class="toggle-label" translate>Automatically shuffle my coins</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, all eligible coins will be selected for shuffling.  To withold a coin from shuffling, keep this disabled.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle
        ng-model="cs.preferences.spendOnlyShuffled"
        toggle-class="toggle-balanced"
        ng-change="cs.updateWalletPreferences()"
        ng-disabled="!cs.preferences.shufflingEnabled || cs.preferences.preferencesLoading">
        <span class="toggle-label" translate>Only allow me to spend shuffled coins</span>
      </ion-toggle>
      <div class="comment" translate>
        When enabled, all unshuffled coins will be unavailable for spending in all wallets.  Use this for better privacy.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle
        ng-model="useCustomServer"
        toggle-class="toggle-balanced"
        ng-disabled="cs.preferences.preferencesLoading">
        <span class="toggle-label" translate>Use custom CashShuffle server</span>
      </ion-toggle>
      <div class="comment" translate>
        This allows you to set a custom CashShuffle server.  Use the server's "stats" endpoint. 
      </div>
      <div ng-if="useCustomServer">
        <div class="settings-explanation">
          <div class="settings-description" translate>
            Caution: Only change this if you know what you're doing.
            ( <a ng-click="saveCustomShuffleServer(true)">Restore Default</a> )
          </div>
        </div>

        <form name="newServerForm" novalidate ng-if="useCustomServer">
          <div class="list settings-input-group">
            <label class="item item-input item-stacked-label">
              <span class="input-label" translate>CashShuffle Server (stats url)</span>
              <input type="url" id="newServer" name="newServer" ng-model="cs.preferences.serverStatsUri" ng-change="dirtyForm=true" required></input>
            </label>
          </div>
          <button
            type="submit"
            class="button button-standard button-primary"
            ng-show="dirtyForm"
            ng-click="saveCustomShuffleServer()"
            translate>
            {{ saveButtonText }}
          </button>
        </form>
      </div>
    </div>
    
    <div ng-if="cs.preferences.shufflingEnabled">
        <div class="list card" ng-if="preferences.shufflingEnabled">
            <div class="item">
              <span ng-if="preferences.shufflingEnabled">
                {{ client.serverStats.poolSize ? client.serverStats.connections + ' shufflers @ '+preferences.serverStatsUri : 'disconnected' }} {{ client.serverStats.banned ? '( temporarily disconnected )' : '' }}
              </span>
            </div>
          </div>
      
          <div class="list card" ng-if="preferences.shufflingEnabled" ng-class="{'cardHidden': !cardVisibility.shuffling}" ng-show="getCoins('shuffling').length">
            <div class="item pointer item-icon-right item-heading" ng-click="toggleCardVisibility('shuffling')">
              <div translate>Shuffling In-Progress ( {{ getCoins('shuffling').length }} )</div>
              <div translate class="subtitle">All coins in active shuffle rounds from your Bitcoin Cash (BCH) wallet</div>
            </div>
            <div ng-show="cardVisibility.shuffling">
              <a
                ng-repeat="oneCoin in getCoins('shuffling') track by $index"
                ng-click="abortShuffle(oneCoin)"
                ng-style="{ 'background-color': oneCoin.abortShuffleClicked ? 'salmon' : '#FF8209' }"
                class="item item-sub wallet">
      
                <div ng-if="!oneCoin.abortShuffleClicked">
                  <div>
                    {{ oneCoin.walletName }} ( {{ displayCoinId(oneCoin) }} )
                  </div>
                  <div>
                    {{ oneCoin.amountSatoshis }} sats ( {{ oneCoin.amountBch.toFixed(8) }} BCH )
                  </div>
                  <div v-show="oneCoin.playersInRound !== client.serverStats.poolSize">
                    Players: {{ oneCoin.playersInRound ? oneCoin.playersInRound : 0 }} of {{ client.serverStats.poolSize }}
                  </div>
                  <div v-show="oneCoin.playersInRound === client.serverStats.poolSize">
      
                  </div>
                </div>
      
                <div ng-if="oneCoin.abortShuffleClicked">
                  <div>
                    Are you sure you want to change your mind?
                  </div>
                  <div>
                    It might annoy the server and get you a 5 minute ban...
                  </div>
                </div>
      
              </a>
            </div>
          </div>
      
          <div class="list card" ng-class="{'cardHidden': !cardVisibility.unshuffled}">
            <div class="item pointer item-icon-right item-heading" ng-click="toggleCardVisibility('unshuffled')">
              <div translate>Unshuffled ( {{ getCoins('unshuffled').length }} )</div>
              <div translate class="subtitle">All unshuffled coins currently in your Bitcoin Cash (BCH) wallet</div>
            </div>
            <div ng-show="cardVisibility.unshuffled">
              <a
                ng-repeat="oneCoin in getCoins('unshuffled') track by $index"
                ng-style="{ 'background-color': oneCoin.shuffleThisCoin ? '#FF8209' : 'rgb(238, 182, 64)' }"
                ng-click="toggleShuffle(oneCoin)"
                class="item item-sub wallet">
      
                <div>
                  {{ oneCoin.walletName }} ( {{ displayCoinId(oneCoin) }} )  {{ !oneCoin.confirmations ? '( Waiting for confirmations )' : '' }}
                </div>
                <div>
                  {{ oneCoin.amountSatoshis }} sats ( {{ oneCoin.amountBch.toFixed(8) }} BCH ) {{ oneCoin.shuffleThisCoin ? '( Queued for shuffle )' : '' }}
                </div>
      
              </a>
            </div>
          </div>
      
          <div class="list card" ng-class="{'cardHidden': !cardVisibility.shuffled}">
            <div class="item pointer item-icon-right item-heading" ng-click="toggleCardVisibility('shuffled')">
              <div translate>Shuffled ( {{ getCoins('shuffled').length }} )</div>
              <div translate class="subtitle">All shuffled coins in all your Bitcoin Cash (BCH) wallets</div>
            </div>
            <div ng-show="cardVisibility.shuffled">
              <a
                ng-repeat="oneCoin in getCoins('shuffled') track by $index"
                ng-style="{ 'background-color': oneCoin.shuffled ? 'rgb(34, 204, 119)' : 'rgb(238, 182, 64)' }"
                ng-click="toggleShuffle(oneCoin)"
                class="item item-sub wallet">
                <div>
                  {{ oneCoin.walletName }} ( {{ displayCoinId(oneCoin) }} )
                </div>
                <div>
                  {{ oneCoin.amountSatoshis }} sats ( {{ oneCoin.amountBch.toFixed(8) }} BCH )
                </div>
      
              </a>
            </div>
          </div>
      
          <div class="list card" ng-class="{'cardHidden': !cardVisibility.dust}" ng-show="getCoins('dust').length">
            <div class="item pointer item-icon-right item-heading" ng-click="toggleCardVisibility('dust')">
              <div translate>Dust ( {{ getCoins('dust').length }} )</div>
              <div translate class="subtitle">Coins that are too small to shuffle</div>
            </div>
            <div ng-show="cardVisibility.dust">
              <a
                ng-repeat="oneCoin in getCoins('dust') track by $index"
                class="item item-sub wallet">
                <div>
                  {{ oneCoin.walletName }} ( {{ displayCoinId(oneCoin) }} )
                </div>
                <div>
                  {{ oneCoin.amountSatoshis }} sats ( {{ oneCoin.amountBch.toFixed(8) }} BCH )
                </div>
              </a>
            </div>
          </div>
    </div>
  </ion-content>
</ion-view>
