<ion-view id="tab-cspreferences" class="settings" show-tabs>
  <ion-nav-bar>
    <ion-nav-title>{{'Privacy Mode' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="list">

      <ion-toggle
        ng-model="toggleState.cashShuffleEnabled"
        toggle-class="toggle-balanced"
        ng-change="toggleEnableShuffle()"
        ng-disabled="preferences.preferencesLoading">
        <span class="toggle-label" translate>Enable Transaction Privacy Mode</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, you will be able to select which wallets to make private.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle
        ng-model="toggleState.onlySpendSuffle"
        toggle-class="toggle-balanced"
        ng-change="toggleOnlySpendShuffle()"
        ng-disabled="!preferences.shufflingEnabled || preferences.preferencesLoading">
        <span class="toggle-label" translate>Only allow me to spend shuffled coins</span>
      </ion-toggle>
      <div class="comment" translate>
        When enabled, all unshuffled coins will be unavailable for spending in all wallets.  Use this for better privacy.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle
        ng-model="useCustomServer"
        toggle-class="toggle-balanced"
        ng-disabled="preferences.preferencesLoading">
        <span class="toggle-label" translate>Use custom CashShuffle server</span>
      </ion-toggle>
      <div class="comment" translate>
        This allows you to set a custom CashShuffle server.  Use the server's "stats" endpoint. 
      </div>
      <div ng-if="useCustomServer">
        <div class="settings-explanation">
          <div class="settings-description" translate>
            Caution: Only change this if you know what you're doing.
            ( <a ng-click="saveCustomShuffleServer(true)">Restore Default</a> )
          </div>
        </div>

        <form name="newServerForm" novalidate ng-if="useCustomServer">
          <div class="list settings-input-group">
            <label class="item item-input item-stacked-label">
              <span class="input-label" translate>CashShuffle Server (stats url)</span>
              <input type="url" id="newServer" name="newServer" ng-model="preferences.serverStatsUri" ng-change="dirtyForm=true" required></input>
            </label>
          </div>
          <button
            type="submit"
            class="button button-standard button-primary"
            ng-show="dirtyForm"
            ng-click="saveCustomShuffleServer()"
            translate>
            {{ saveButtonText }}
          </button>
        </form>
      </div>
    </div>

    <!--  Wallet Section -->
    <div ng-if="preferences.shufflingEnabled">

        <div class="list card round" ng-if="client && client.serverStats">
            <div class="item">
                <div class="shuffle-server-message">
                    {{ client.serverStats.poolSize ? client.serverStats.connections + ' shufflers ' : 'disconnected' }}
                </div>
                <div class="shuffle-server-message">
                    {{ client.serverStats.banned ? '( temporarily disconnected )' : preferences.serverStatsUri }}
                </div>
            </div>
        </div>

        <div class="list card round" ng-if="showProgressBar">
            <div class="item">

              <div class="progress-message">
                Your coins are {{ status.stats.percentShuffleableComplete }}% shuffled
              </div>
              <div class="progress-bar-container">
                <div class="progress-bar">
                  <span class="progress-bar-fill" ng-style="{'width': getProgressStat() }"></span>
                </div>
              </div>
            </div>
        </div>

        <div class="list card round" style="cursor: pointer">
            <div class="wallet-container" ng-click="toggleShuffleWallet(oneWallet)" ng-repeat="oneWallet in getWallets() track by $index" ng-if="!oneWallet.isCashShuffleWallet">

                <div class="wallet-details">
                    <div class="radio-container-content">

                        <div class="radio-container">
                            <div class="radio">
                                <span class="radio-selected" ng-style="{ 'background-color': oneWallet.shuffleThisWallet ? '#00bd89' : 'white' }"></span>
                            </div>
                        </div>

                    </div>
                    <div class="wallet-icon-container">

                        <div class="icon">
                          <img
                            src="img/bitcoin-wallet.svg"
                            ng-style="{'background-color': oneWallet.color || '#00bd89'}"
                            class="wallet-icon"/>
                        </div>

                    </div>
                    <div class="wallet-info-container">

                        <div class="wallet-info">
                            <div class="wallet-name">{{ oneWallet.name }}</div>
                            <div class="wallet-balance" ng-if="oneWallet.stats.dust == oneWallet.stats.totalBch">
                              {{ oneWallet.stats.dust.toFixed(5) }} BCH ( dust ) 
                            </div>
                            <div class="wallet-balance" ng-if="oneWallet.stats.dust != oneWallet.stats.totalBch">
                              {{ oneWallet.stats && oneWallet.stats.totalBch.toFixed(5) }} BCH
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wallet-message-container" ng-if="oneWallet.shuffleThisWallet">

                    <div class="wallet-message-content">
                        <div class="wallet-message" ng-if="oneWallet.stats.unconfirmed && !oneWallet.shufflingComplete">
                            <span class="bold">{{ oneWallet.stats.unconfirmed }}</span> BCH unconfirmed
                        </div>
                        <div class="wallet-message" class="wallet-stat" ng-if="oneWallet.coins.shuffling.length">
                            Now shuffling <span class="bold">{{ oneWallet.stats.shuffling.toFixed(4) }}</span> BCH
                        </div>
                    </div>
                </div>
                <div class="wallet-message-container" ng-if="!oneWallet.shuffleThisWallet">

                    <div class="wallet-message-content">
                        <div class="wallet-message">
                            Click to make the coins in this wallet private using CashShuffle
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

  </ion-content>
</ion-view>
