<ion-view id="buy-and-sell">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Bitcoin Price Chart</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
        <div class="chart-container">
            <div class="chart-header">
                <div class="latest-price">$<span id="latest-price">2500</span></div>
                <div class="high-price"><span class="light-yellow">High:</span><br/>$<span id="high-price">2500</span></div>
                <div class="low-price"><span  class="light-yellow">Low:</span><br/>$<span id="low-price">2500</span></div>
            </div>
            <div class="chart">
            <div class="ct-chart ct-perfect-fourth"></div>
            </div>
        </div>
  </ion-content>
</ion-view>
