<ion-view id="view-review" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Review Transaction' | translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padded-bottom-cta-with-summary bg-neutral"
    ng-init="memoExpanded = false">
    <div ng-if="vm.thirdParty && vm.thirdParty.id === 'shapeshift'" ng-include="'views/thirdparty/shapeshift-header.html'"></div>
    <div class="header" ng-class="vm.thirdParty.id">
      <div class="content">
        <p>{{vm.sendingTitle}}</p>
        <p class="large">{{vm.primaryAmount}} {{vm.primaryCurrency}}</amount></p>
        <p ng-show="vm.secondaryAmount">{{vm.secondaryAmount}} {{vm.secondaryCurrency}}</p>
      </div>
    </div>

    <div class="content-frame negative-top">
      <div class="card card-gutter-compact">
        <div class="item item-compact" translate>From:</div>
        <div class="item item-gutterless item-complex item-avatar">
          <div class="item-content item-content-avatar">
            <i class="icon big-icon-svg theme-circle theme-circle-services">
                <div class="bg icon-wallet"
                  style="background-color: {{vm.origin.color}}"
                ></div>
            </i>
            <h2>{{vm.origin.name}} <span class="highlight" style="color: {{vm.origin.currencyColor}}">({{vm.origin.currency}})</span></h2>
            <p ng-show="vm.origin.balanceAmount">{{vm.origin.balanceAmount}} {{vm.origin.balanceCurrency}}</p>
          </div>
        </div>
      </div>
      <div class="card card-gutter-compact">
        <div class="item item-compact" translate>To:</div>
        <div class="item item-gutterless item-complex item-avatar">
          <div class="item-content item-content-avatar"
          ng-if="vm.destination.kind === 'contact' || vm.destination.kind === 'wallet'">
            <img src="img/contact-placeholder.svg" class="bg" ng-if="vm.destination.kind === 'contact'">
            <i class="icon big-icon-svg theme-circle theme-circle-services" ng-if="vm.destination.kind === 'wallet'">
                <div class="bg icon-wallet"
                  style="background-color: {{vm.destination.color}}"
                ></div>
            </i>
            <h2>{{vm.destination.name}}<span class="highlight" style="color: {{vm.destination.currencyColor}}" ng-if="vm.destination.currency"> ({{vm.destination.currency}})</span></h2></h2>
            <p ng-if="vm.destination.balanceAmount">{{vm.destination.balanceAmount}} {{vm.destination.balanceCurrency}}</p>
          </div>
          <div class="item-content item-content-compact" ng-init="addressExpanded = false" ng-if="vm.destination.kind === 'address'">
            <div class="address" ng-class="{ 'expanded': addressExpanded }" ng-click="addressExpanded = !addressExpanded"><span class="prefix">qz9cq</span><span class="mid">q5pryv9hnqwa8q8mccmynk9uf4vlu5nxer</span><span class="suffix">pzmc</span></div>
          </div>
        </div>
      </div>
      <div class="expand-content-frame">
        <div class="action-minor mt-negative text-right expand-content-trigger"
          ng-class="{ 'expand-content-revealed': memoExpanded }"
          ng-click="memoExpanded = !memoExpanded">
          <img src="img/icon-bookmark.svg" class="action-icon">
          <span class="action-text">Add personal note</span>
        </div>
        <div class="card card-gutter-compact expand-content"
          ng-class="{ 'expand-content-revealed': memoExpanded }">
          <div class="item item-compact" translate>Personal Note:</div>
          <div class="item">
            <div class="item-content">
              <textarea elastic placeholder="{{btx.note.body || btx.message || 'Enter text here'}}" class="elastic"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="fee-summary">
    <div class="fee-fiat positive">Fee: Less than 1 cent</div>
    <div class="fee-crypto"
      ng-init="fee = {value: '0.00195823', currency: 'BCH'};">
      <amount
        value="fee.value"
        currency="fee.currency"></amount>
    </div>
  </div>

  <click-to-accept
    ng-click="approve(tx, wallet, statusChangeHandler)"
    ng-if="(!isCordova || isWindowsPhoneApp)"
    click-send-status="sendStatus"
    is-disabled="!wallet">
    {{buttonText}}
  </click-to-accept>
  <slide-to-accept
    ng-if="isCordova && !isWindowsPhoneApp"
    slide-on-confirm="approve(tx, wallet, statusChangeHandler)"
    slide-send-status="sendStatus"
    is-disabled="!wallet">
    {{buttonText}}
  </slide-to-accept>
  <slide-to-accept-success
    slide-success-show="sendStatus === 'success'"
    slide-success-on-confirm="onSuccessConfirm()"
    slide-success-hide-on-confirm="true">
    <span ng-show="wallet.m == 1 && (wallet.canSign() || wallet.isPrivKeyExternal())" translate>Payment Sent</span>
    <span ng-show="wallet.m > 1 && (wallet.canSign() || wallet.isPrivKeyExternal())" translate>Proposal Created</span>
    <span ng-show="!wallet.canSign() && !wallet.isPrivKeyExternal()" translate>Transaction Created</span>
  </slide-to-accept-success>
</ion-view>
