<ion-view id="share-app" hide-tabs>
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>{{title}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="share-app-layout">
      <div class="share-app-layout__expand fade-in">
        <img src="img/ico-positive-feedback.svg" class="share-the-love-illustration"/>
        <div class="subtitle" translate>Share the love by inviting your friends.</div>
      </div>
      <div class="share-buttons slide-up">
        <div class="share-buttons__action" ng-show="facebook" ng-click="shareFacebook()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-facebook.svg"/>
          </i>
          <div>Facebook</div>
        </div>
        <div class="share-buttons__action" ng-show="twitter" ng-click="shareTwitter()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-twitter.svg"/>
          </i>
          <div>Twitter</div>
        </div>
        <div class="share-buttons__action" ng-show="googleplus" ng-click="shareGooglePlus()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-googleplus.svg"/>
          </i>
          <div>Google+</div>
        </div>
        <div class="share-buttons__action" ng-show="email" ng-click="shareEmail()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-email.svg"/>
          </i>
          <div>Email</div>
        </div>
        <div class="share-buttons__action" ng-show="whatsapp" ng-click="shareWhatsapp()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-whatsapp.svg"/>
          </i>
          <div>Whatsapp</div>
        </div>
        <div class="share-buttons__action" ng-click="shareMessage()">
          <i class="icon socialsharing-icon">
            <img src="img/social-icons/ico-social-message.svg"/>
          </i>
          <div>Message</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>