<ion-view class="settings" show-tabs>
  <ion-nav-bar>
    <ion-nav-title>
      {{'Sign Message'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-heading">
        <span translate><strong>Wallet</strong></span>
      </div>
      <div class="item wallet-selector" ng-click="showWalletSelector()" ng-if="wallets">
        <a ng-if="wallet" class="item item-sub item-icon-left item-big-icon-left item-icon-right">
          <i class="icon big-icon-svg" ng-include="'views/includes/walletIcon.html'"></i>
          <span>
            {{wallet.name || wallet.id}}
          </span>
          <p>
            <span ng-if="!wallet.balanceHidden"> {{wallet.status.totalBalanceStr}} </span>

            <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
            <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
              {{wallet.m}}-of-{{wallet.n}}
            </span>
            <span class="assertive" ng-if="wallet.error">{{wallet.error}}</span>
            &nbsp;
          </p>
          <i ng-if="!singleWallet" class="icon bp-arrow-right"></i>
        </a>
      </div>
      <div class="item">
        <span class="item-heading">Message To Sign</span>
        <textarea elastic class="d-block" placeholder="Message" ng-model="message.value"></textarea>
      </div>
      <div class="item">
        <button class="button button-full button-primary" ng-click="signMessage()">
          Sign Message
        </button>
      </div>
    </div>
    <div class="list card" ng-if="signedMessage.length">
      <div class="item item-heading item-icon-right">
        <span translate><strong>Signed Message</strong></span>
        <i class="icon ion-ios-copy-outline list-add-button" copy-to-clipboard="signedMessage"></i>
      </div>
      <div class="item" copy-to-clipboard="signedMessage">
        {{signedMessage}}
      </div>
    </div>
  </ion-content>
  <wallet-selector
  wallet-selector-title="walletSelectorTitle"
  wallet-selector-wallets="wallets"
  wallet-selector-selected-wallet="wallet"
  wallet-selector-show="showWallets"
  wallet-selector-on-select="onWalletSelect">
</wallet-selector>
</ion-view>
