<ion-view id="tab-spend" class="apl dark" show-tabs>
  <ion-nav-bar class="bar-dark">
    <ion-nav-title>{{'Spend' | translate}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div id="top-limit"></div>
    <div id="map">
      <div id="map-icon-background">
      </div>
      <div>
        <h1 translate>Shop Nearby</h1>
        <p translate>Find businesses in your area that accept Bitcoin Cash</p>
      </div>
    </div>
    <h1>Featured Businesses</h1>
    <div class="merchant-showcase-container">
      <div id="purse-io" class="merchant-showcase">
        <h1>Purse.io</h1>
        <div class="subtitle">
          <p translate>Get up to 30% off Amazon when you pay with Bitcoin Cash</p>
        </div>
      </div>
    </div>
    <div class="merchant-showcase-container">
      <div id="egifter" class="merchant-showcase light">
        <h1>eGifter</h1>
        <div class="subtitle">
          <p>Digital giftcards from some of the biggest brand names</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
