<ion-view class="settings" show-tabs>
  <ion-nav-bar>
    <ion-nav-title>
      {{'Verify Message'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
  </ion-content>
  <wallet-selector
  wallet-selector-title="toWalletSelectorTitle"
  wallet-selector-wallets="toWallets"
  wallet-selector-selected-wallet="toWallet"
  wallet-selector-show="showToWallets"
  wallet-selector-on-select="onToWalletSelect">
</wallet-selector>
</ion-view>
