.amount {
  .start,
  .middle,
  .end,
  .currency {
    display: inline-block;
  }

  .start {
    font-size: 1em;
  }

  .middle {
    font-size: 0.7857em;
  }

  .end {
    font-size: 0.7857em;
  }

  .currency {
    font-size: 1em;
  }
}