/*
* Extends Ionic v1 item
*/

.item {
  .title {
    font-weight: bold;
  }

  &.item-compact {
    padding: 11px 13px;
  }
  &.item-gutterless {
    padding: 0;
  }

  .item-content {
    &.item-content-avatar {
      min-height: 69px;
      padding: 13px 11px 13px 68px;

      > img,
      > i {
        &:first-child {
          position: absolute;
          max-width: 40px;
          max-height: 40px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          left: 13px;
          top: 50%;
          padding: 0;
          -webkit-transform: translate(0,-50%);
          transform: translate(0,-50%);
        }
      }
    }

    &.item-content-compact {
      min-height: 0;
      padding: 13px 11px;
    }

    .highlight {
      color: #FAB915
    }

    + .item-content {
      padding-top: 0;
    }
  }
}

.item-radio {
  input {
      &:checked {
          &+ .radio-content {
              .item-content {
                  background: #0AC18E;
                  
                  &, .item-note {
                    color: #fff;
                  }
              }
          }
      }
  }
  .radio-icon {
    display: none;
  }
}