<ion-modal-view>
  <ion-header-bar align-title="center">
    <button class="button button-dark button-clear" ng-click="close()" translate>
      Close
    </button>
    <div class="title" translate>
      Search Transactions ({{wallet.coin}})
    </div>
  </ion-header-bar>

  <ion-content ng-controller="searchController" ng-init="search = ''">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="search" ng-init="search = ''" ng-change="updateSearchInput(search)"
          placeholder="{{'Search transactions' | translate}}">
      </label>
    </div>

    <div class="list">
      <div class="wallet-details__list" ng-show="filteredTxHistory.length === 0 && search != ''">
        <div class="text-gray text-center p10t">
        {{'No results found'|translate}}
        </div>
        <div class="p10t text-center">
          <button class="button button-small button-primary" ng-click="searchOnBlockchain(search)" translate>
            <span ng-if="searchTermIsTxId">{{'Show Transaction on Blockchain'|translate}}</span>
            <span ng-if="searchTermIsAddress">{{'Show Address on Blockchain'|translate}}</span>
            <span ng-if="!searchTermIsAddress && !searchTermIsTxId">{{'Search on Blockchain'|translate}}</span>
          </button>
        </div>
      </div>
      <div class="wallet-details__list" ng-show="txHistory[0]">
        <div ng-repeat="btx in txHistorySearchResults track by $index" ng-click="openTx(btx)">
          <span ng-include="'views/includes/walletHistory.html'"></span>
        </div>
      </div>
      <div class="text-gray text-center size-12 p10t" ng-if="txHistoryShowMore">
        <span class="size-12">{{filteredTxHistory.length - txHistorySearchResults.length}} more</span>
        &nbsp;
        <i class="icon-arrow-down4"></i>
      </div>
      <ion-infinite-scroll
        ng-if="txHistoryShowMore"
        on-infinite="moreSearchResults()"
        distance="1%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-modal-view>
