#add-card-form {
  .apl-field {
    display: block;

    div iframe {
      height: 40px;
    }
  }
  .form-header {
    text-align: center;
    margin: 0.5rem 1rem;

    h1 {
      text-align: center;
    }
  }

  form {
    margin: 2.5%;
    label {

    }

    input{

    }
  }

  hr {
    color: #787878;
  }
}