#view-add {
  .item {
    margin-left: 10px;
    margin-right: 10px;
    padding-top:2rem;
    padding-bottom: 2rem;
    border:none;
    padding-left:90px;
    box-shadow:rgb(255, 255, 255) 0px 2px 3px 0px inset, rgba(21, 19, 56, 0.07) 0px 4px 10px 0px, rgba(7, 7, 12, 0.05) 0px 5px 25px 0px;
    margin-bottom: 15px;
    border-radius:7px;

    &:first-child {
      margin-top: 25px;
    }
  }
  .add-type {
    color: $v-dark-gray;
  }
  .bg{
    background-color: $v-icon-color;
    height: 50px;
    width: 50px;
    padding:4px;
    &.join{
      padding:10px;
    }
  }
}
