#tab-buy-bitcoin-document-info {
  .restore-info {
    font-size: 0.8rem;
    color: $v-light-gray;
    margin: 0 2rem;

    a {
      color: $v-bitcoin-green;
    }
  }
  
  .top-spacer {
    height: 1px;
  }

  form {
    margin: 0 2.5%;

    .row {
      justify-content: space-between;
      align-items: center;
    }

    .error {
      padding: 0 5px;
      color: $v-error-color;
    }
  }
  
  hr {
    color: #787878;
  }
}