#view-review {

  .header {
    @include p3-green();
    font-family:$v-font-family;

    .large {
      font-family:"Gilroy-Bold", $v-font-family, sans-serif;
      font-size:36px;
      font-weight:normal;
    }
  }

  slide-to-accept, slide-to-accept-success {
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  }

  .fee-summary {
    bottom: 92px;
    bottom: calc(92px + constant(safe-area-inset-bottom)); /* iOS 11.0 */
    bottom: calc(92px + env(safe-area-inset-bottom)); /* iOS 11.2 */
    position: absolute;
  }

  .sideshift-banner, .bitpay-banner, .egifter-banner {
    box-shadow: none;
  }

  .warning {
    color: $v-warning-color-2;
  }



}