#view-review {
  background-color: #494949;

  slide-to-accept, slide-to-accept-success {
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  }

  .fee-summary {
    position: absolute;
    bottom: 92px;
  }

  .shapeshift-banner {
    box-shadow: none;
  }
}