#sideshift {
  .swap-image {
    width: auto;
    max-width: 400px;
    max-height: 25vh;
  }
  .empty-case {
    @include empty-case();
  }
  .button-sideshift {
    @extend %button-standard;

    @include button-style(#111111, #FFF, #606060, #FFF, #FFF);
    @include button-clear(#FFF);
    @include button-outline(#C1C1C1);
    border: 0px;
    @include button-shadow();
  }
}
.header.sideshift {
  background: url(../img/sideshiftbg.jpg) center center repeat #28394d;
  opacity: 0.99;
}