#tab-send2 {
  @extend .deflash-blue;
  .input {
    width: 100%;
    input {
      width: 100%;
      height: 57px;
      background: #FFF;
      border: 1px #D9D9D9 solid;
      &::placeholder {
        color: #DCDCDC;
      }
    }
    i {
      &.left {
        padding-left: 15px;
      }
      &.qr {
        cursor: pointer;
        cursor: hand;
        padding-right: 5px;
      }
    }
  }

  .send-wrapper {
    &:after {
      display: block;
      position: relative;
      height: 1px;
      background: #DEDEDE;
      bottom: 0;
      content: '';
      margin: 20px 6px 0px;
    }
    margin: 18px 0 0;
    padding: 9px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: none;
    &.focus {
      .search-input {
        padding-left: 30px;
        &:focus::-webkit-input-placeholder {
          opacity: 0;
        }
      }
    }
    .buttons {
      margin: auto;
      margin-top: 18px;
      .button {
        &-clipboard-paste {
          margin-left: 0;
          .address {
            display: none;
          }
          .icon {
            background: url(../img/icon-clipboard-paste.svg);
            width: 15px;
            height: 19px;
            display: inline-block;
            margin-bottom: 4px;
          }
          &.contains-address {
            background: #FAB915;
            color: #FFF !important;
            border: 0;
            @include button-shadow();
            .icon {
              background: url(../img/icon-clipboard-paste-white.svg);
            }
            .address {
              display: inline;
            }
            .non-address {
              display: none;
            }
          }
        }
        span {
          font-size: 14px;
        }
        img {
          height: 16px;
          width: auto;
          margin: 2px 0 4px;
        }
        height: 60px;
        line-height: 16px;
        margin-right: 0px;
        width: 95%;
        max-width: none;
        padding: 2px;
        &-qr {
          font-weight: bold;
          max-width: none;
          width: 100%;
          height: 95px;
          margin-top: 20px;
          img {
            vertical-align: middle;
            margin-right: 12px;
            width: 43px;
            height: 43px;
          }
          span {
            font-size: 19px;
          }
        }
      }
    }
  }
  .search-input {
    background-color: transparent;
    padding-left: 30px;
  }
  .sendTip {
    padding-top: 5vh;
    text-align: center;
    .item {
      border-style: none;
    }
    & > .title {
      font-size: 20px;
      color: $v-dark-gray;
      margin: 20px 10px;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: #6F6F70;
      margin: 20px 1em 2.5em;
    }
    .big-icon-svg {
      .bg.green {
        padding: 0 10px;
        box-shadow: none;
      }
    }
    .buttons {
      margin-top: 18px;
      .button {
        font-weight: bold;
        font-size: 19px;
      }
    }
    .button-first-contact img {
      height: 19px;
      width: 19px;
      margin-right: 6px;
      vertical-align: sub;
    }
  }
  .item-heading {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    .subtitle {
      color: #B5B2B2;
      font-size: 12px;
      font-weight: 300;
    }
  }
  .list {
    .item {
      font-weight: 600;
      padding-top: 12px;
      padding-bottom: 12px;
      p {
        font-weight: normal;
      }
      &.item-icon-left {
        padding-left: 64px;
      }
      color: #444;
      //border-top: none;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .big-icon-svg {
        left: 5px;
        & > .bg {
          width: 30px;
          height: 30px;
          box-shadow: none;
        }
      }
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-divider {
        color: rgba(74, 74, 74, .8);
      }
      &.item-heading {
        &:before {
          top: 99%;
          width: 100%;
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
      .item-note {
        color: rgb(58, 58, 58);
      }
    }
  }
  .scroll {
    height: 100%;
  }

  .card.contacts {
    margin: 4px;
    border-radius: 6px;
    box-shadow: 0px 2px 1px 0 #C1C1C1;
    .gravatar {
      border-radius: 30px;
    }
  }

}
