#tab-cspreferences {

    .item-toggle {
        padding-right: 80px;
    }

    .round {
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    .bold {

        font-weight: 600;
    }

    .shuffle-server-message {
      text-align: center;
      font-size: 1.2rem;
      padding: 0px;
    }

    .progress-message {
        margin-bottom: 5px;
        text-align: center;
        font-size: 1.4rem;
    }

    .progress-bar-container {
        background-color: white;
    }

    .progress-bar {
        width: 100%;
        background-color: white;
        padding: 3px;
        border-radius: 15px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    }

    .progress-bar-fill {
        display: block;
        height: 22px;
        background-color: rgb(0, 189, 137);
        border-radius: 15px;
        transition: width 500ms ease-in-out;
    }

    .wallet-container {


        .wallet-details {
            height: 150px;
            min-height: 150px;
            max-height: 150px;

            display: flex;
            flex-wrap: wrap;

            .radio-container-content {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;

                .radio-container {
                    background-color: white;
                    width: 35px;
                    height: 35px;
                    max-width: 35px;
                    max-height: 35px;

                    .radio {
                      position: inherit;
                      width: 100%;
                      height: 100%;
                      border: 2px solid darkgrey;
                      border-radius: 50%;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      .radio-selected {
                        min-width: 100%;
                        min-height: 100%;
                        background-color: white;
                        border: 2px solid white;
                        border-radius: 50%;
                        transition: width 500ms ease-in-out;
                      }

                    }

                }

            }

            .wallet-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;

                .icon {
                    width: 70px;
                    height: 70px;
                    max-width: 70px; 
                    max-height: 70px;
                    border: 11px solid #00bd89;
                    border-radius: 50%;
                    display: flex;

                    .wallet-icon {
                      width: 50px;
                      height: 50px;
                      background-repeat: no-repeat;
                      background-clip: padding-box;
                      background-size: 103%;
                      -webkit-user-drag: none;
                    }
                }
            }

            .wallet-info-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                max-width: 200px;
                margin-left: 12px;

                .wallet-info {

                    .wallet-name {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    .wallet-balance {
                        font-size: .8rem;
                        font-color: lightgray;
                    }
                }
            }

            .wallet-message-container {
                display: flex;
                justify-content: left;
                align-items: center;

                .wallet-message-content{

                    .wallet-message {
                        font-size: 1rem;
                        font-color: lightgray;
                    }

                }
            }

        }

    }
}
