  .bar-header .nav-bar-title, .bar-header .nav-bar-title img {vertical-align: middle}

#tab-home {
  @extend .deflash-blue;


  #buy-bitcoin {

    &.padding {
      padding: 0px 14px;
    }

    .button {
      border-color: transparent;
      font-weight: bold;
      font-size: 19px;
      line-height: 26px;
      padding: 16px 16px;
      max-width: 250px;
      border-radius:3px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;

      &.button-standard {
        width: 100%;
        max-width: 300px;
      }
    }

    .button-green {
        border-color: #11A87E;
        background-color: #15d6a0;
        color: #FFF;
        background: url("../img/p3green.png");
        background-repeat: repeat-x;
        border: 1px; }
  }

  .icon-create-wallet {
    background-color: #4A90E2; // default wallet color
  }
  .icon-buy-bitcoin {
    background-image: $v-bitcoin-icon;
    background-color: $v-bitcoin-green;
  }
  .icon-bitpay-card {
    background-image: url("../img/icon-card.svg");
    background-color: #1e3186;
  }
  .icon-gift {
    background-image: url("../img/icon-gift.svg");
  }
  .icon-amazon {
    background-image: url("../img/icon-amazon.svg");
  }
  .icon-ml {
    background-image: url("../img/mercado-libre/icon-ml.svg");
    background-position: center;
    background-size: 85%;
  }
  .bg {
    &.wallet {
      padding: .25rem
    }
  }
  .card {
    background: #FFFFFF;
    box-shadow: rgb(255, 255, 255) 0px 2px 3px 0px inset, rgba(21, 19, 56, 0.07) 0px 4px 10px 0px, rgba(7, 7, 12, 0.05) 0px 5px 25px 0px;
    border-radius: 7px;

    .item {
      color: #131720;
      border-top:none;
      padding-bottom: 1rem;
      padding-top:1rem;
      &.item-extra-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
    .item-sub {
      &:first-child:before {
        width: 95%
      }
      &:before {
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top:0;
        right:0;
        content:'';
        @media (min-width: 450px){
          &{
            width:90%;
          }
        }
      }
    }
    &-banner {
      svg {
        margin: 40px auto 40px;
      }
      padding: 0;
      &__img {
        width: 100%;
        display: block;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6px auto -12px;
    text-align: center;
    width: 100%;
    >.col {
      padding: 5px 10px;
      margin-bottom: 0;
    }
    .button {
      font-family:"Gilroy-SemiBold", sans-serif;
      font-weight:normal;
      border: 1px solid #C7CDD8;
      border-radius: 3px;
      padding: 16px;
      text-align: center;
      width: 100%;
      max-width: 300px;
      font-size: 19px;
      min-height: 0;
      line-height: 19px;
      color:#13171F;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;

      &-no-border {
        border: none;
      }
    }
  }
  .wallet-coin-logo {
    vertical-align: middle;
    margin-right: 5px;
  }
  .wallet-details__item.item {
    padding-top: 0;
    padding-bottom: 0;

    .wallet-details__tx-icon {
      background: #fff;
      border-radius: 50px;
    }
  }
  .next-step.item, .service.item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .homeTip {
    text-align: center;
    & > .item-heading {
      background: 0 none;
    }
    .item {
      border-style: none;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      color: $v-dark-gray;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: $v-dark-gray;
      margin: 20px 3em 2.5em;
    }
    .big-icon-svg{
      .bg.green{
        padding: 0 10px;
        box-shadow: none;
      }
    }
  }
  .icon.close-home-tip {
    color: #666;
    font-size: 38px;
    height: auto;
    top: 8px;
  }
  .tab-home {
    &__logo {
      height: 18px;
      position: relative;
      top: 3px;
    }
    &__wallet {
      &__multisig-number {
        font-size: .8rem;
        font-weight: 300;
        color: $v-light-gray;
      }
      &__status-icon {
        font-size: 18px;
        margin-left: 5px;
        position: relative;
        top: 1px;
        color: $v-light-gray;
      }
    }
  }
  .release {
    text-align: center;
    .item {
      width: 100%;
    }
    .title {
      font-weight: 700;
      color: #131720;
    }
    .release-notes {
      white-space: pre;
      white-space: pre-line;
      text-align: left;
    }
    .button {
      width: 100%;
      border: none;
    }
    .big-icon-svg {
      > .bg {
        box-shadow: none;
      }
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }

  .badge {
    top:11px;
  }
}
.popup-update {
  .popup-buttons {
    display: block;
  }
  .popup-buttons .button{
    display:block;
    min-width: 100% !important;
    margin-top: 4px;
  }
}

.button-settings {
  &, &:active {
    background: transparent !important;
    border: transparent !important;
  }
}