#tab-send {
  background-color: $v-background-root-color;

  @extend .deflash-blue;

  &-header{
    //height: 300px;
    width: 100%;
  }
  &-contacts {
    //height: calc(100vh - 300px - 50px - 44px); /* screen size - button container - bottom-tab-menu - header top */
    &.ios {
      //height: calc(100vh - 300px - 50px - 44px - 18px); // Remove the notification-bar height on iOS
    }
    //overflow: scroll;
  }

  .input {
    width: 100%;
    input {
      width: 100%;
      height: 57px;
      background: #FFF;
      border: 1px #D9D9D9 solid;
      &::placeholder {
        color: #DCDCDC;
      }
    }
    i {
      &.left {
        padding-left: 15px;
      }
      &.qr {
        cursor: pointer;
        cursor: hand;
        padding-right: 5px;
      }
    }
  }

  .send-wrapper {
    &:after {
      display: block;
      position: relative;
      height: 1px;
      background: $v-background-root-color;
      bottom: 0;
      content: '';
      margin: 10px 6px 0px;
    }
    padding: 18px 9px 9px 9px;
    background-color: $v-background-root-color;
    border-radius: 3px;
    border: none;
    &.focus {
      .search-input {
        padding-left: 30px;
        &:focus::-webkit-input-placeholder {
          opacity: 0;
        }
      }
    }
    .buttons {
      margin: auto;
      margin-top: 18px;
      .button {
        &-clipboard-paste {
          margin-left: 0;
          .address {
            display: none;
          }
          .icon {
            background: url(../img/icon-clipboard-paste.svg);
            width: 15px;
            height: 19px;
            display: inline-block;
            margin-bottom: 4px;
          }
          &.contains-address, &.contains-content {
            .address {
              display: none;
            }
            background: #327DC0;
            color: #FFF !important;
            border: 0;
            @include button-shadow();
            .icon {
              background: url(../img/icon-clipboard-paste-white.svg);
            }
            &.contains-address {
              .address {
                display: inline;
                border: none;
                background-color: transparent;
              }
              .non-address {
                display: none;
              }
            }
          }
        }
        span {
          font-size: 14px;
        }
        img {
          height: 16px;
          width: auto;
          margin: 2px 0 4px;
        }
        min-height: 65px;
        line-height: 16px;
        margin-right: 0px;
        width: 95%;
        max-width: none;
        padding: 2px;
        background:#fdfdfd;
        border:1px solid #C7CDD8;
        box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
        color:#13171F;
        font-family:$v-font-family-light;
        &-qr {
          font-weight: bold;
          max-width: none;
          width: 100%;
          height: 95px;
          margin-top: 20px;
          img {
            vertical-align: middle;
            margin-right: 12px;
            width: 43px;
            height: 43px;
          }
          span {
            font-size: 19px;
          }
        }
      }

      .button-green {
        border-color: #11A87E;
        background-color: #15d6a0;
        color: #FFF;
        background: url("../img/p3green.png");
        background-repeat: repeat-x;
        border: 1px; }
    }
  }
  .search-input {
    background-color: transparent;
    padding-left: 30px;
  }
  .sendTip {
    @include empty-case();
  }
  .item-heading {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    .subtitle {
      color: #B5B2B2;
      font-size: 12px;
      font-weight: 300;
    }
  }
  .list {
    .item {
      font-weight: 600;
      p {
        font-weight: normal;
      }
      &.item-icon-left {
        padding-left: 64px;
      }
      color: #444;
      //border-top: none;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;;
      .big-icon-svg {
        left: 5px;
        & > .bg {
          width: 30px;
          height: 30px;
          box-shadow: none;
        }
      }
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-divider {
        color: rgba(74, 74, 74, .8);
      }
      &.item-heading {
        &:before {
          top: 99%;
          width: 100%;
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
      .item-note {
        color: rgb(58, 58, 58);
      }
    }
  }
  .scroll {
    height: 100%;
  }

  .card {
    box-shadow: none;
    border-radius: 7px;
  }
  .card.contacts {
    margin: 4px 4px 16px 4px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px 0 #C1C1C1;
    .gravatar {
      border-radius: 30px;
      height: 40px;
      width: 40px;
    }
  }


  ///* iPhone 5/SE and other small screen devices */
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .send-wrapper .buttons .button-qr {
      height: 60px;
      span {
        font-size: 16px;
      }
    }
    #tab-send-header {
      //height: 270px;
    }
    #tab-send-contacts {
      //height: calc(100vh - 270px - 50px  - 44px);  /* screen size - button container - bottom-tab-menu - header top */
      &.ios {
        //height: calc(100vh - 270px - 50px - 44px - 18px); // Remove the notification-bar height on iOS
      }
    }
  }

}
