#wallet-to-wallet-transfer {
  .header, .list {
    font-size: 12px;
    margin: 20px 14px;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: $v-dark-gray;
    }
    .subtitle {
      font-size: 12px;
      line-height: 1.5em;
      font-weight: 300;
      color: $v-dark-gray;
    }
  }
}