$wallet-details-collapse-transition: all 0.25s ease-in-out;
.wallet-details {
  &__tx-amount {
    font-size: 16px;
    &--recent {
      color: $v-mid-gray;
      font-weight: bold;
    }
    &--received {
      color: #09C286;
    }
    &--sent {
      color: $v-dark-gray;
    }
  }
  &__tx-time {
    white-space: nowrap;
    color: $v-light-gray;
    font-size: 12.5px;
  }
  &__tx-title {
    flex-grow: 1;
    color: $v-dark-gray;
    overflow: hidden;
  }
  &__tx-icon {
    float: left;
    margin-right: 25px;
  }
  &__tx-message {
    margin-right: 1rem;
  }

  &__list {

  }

  .item {
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    padding-left: 1rem;

    &.proposal {
      position: relative;
    }

    &__marker {
      position: absolute;
      height: 100%;
      width: 3px;
      background: #F5A623;
      left: 0;
    }
  }

  &__tx-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem 0;
    padding-right: 1rem;
    border-bottom: 1px solid rgb(245, 245, 245);
    overflow: hidden;

    &.no-border {
      border: 0;
    }
  }

  &__tx-amount {
    white-space: nowrap;
  }

  &__group-label {
    font-size: 14px;
    font-weight: 300;
    color: #727272;
    padding: 1rem;
    background: #f8f8f9;
  }

  &__no-transaction {
    color: $v-mid-gray;
    font-size: 12.5px;
    text-align: center;
    padding-top: 2rem;
  }

  &__no-update-history {
    color: $v-error-color;
    font-size: 12.5px;
    text-align: center;
    padding-top: 2rem;
  }

  &__updating-history {
    color: $v-mid-gray;
    font-size: 12.5px;
    text-align: center;
    padding-top: 1rem;
  }
}

#walletDetails {
  background: #F8F8F9;

  .scroll-refresher {
    z-index: 1;
    margin-top: 3.5rem;
  }

  .ionic-refresher-content {
    color: white !important;

    .spinner svg {
      stroke: white;
      fill: white;
    }
  }

  .bp-content {
    position: relative;
    height: 100%;
    height: calc(100% - env(safe-area-inset-bottom) * 2);

    &.status-bar {
      margin-top: 20px;
      margin-top: env(safe-area-inset-top);
    }
    &.collapse {
      ion-content {
        margin-top: 40px;
      }
      .amount {
        &__scale, &__error {
          -webkit-transform: scale3d(0.5, 0.5, 0.5) translateY(0px);
          transform: scale3d(0.5, 0.5, 0.5) translateY(0px);
        }
      }
      .amount-alternative, .send-receive-buttons, .wallet-details-wallet-info {
        opacity: 0;
      }
    }
  }
  ion-header-bar.bar.bar-header {
    background-color: $v-background-root-color !important;  
  }
  .bar-header {
    border: 0;
    .title, .button {
      color: #000000;
    }
    .button {
      background-color: transparent;
    }
    
  }
  .nav-bar-block, .bar {
  background-color: inherit !important;
  }
  ion-content {
    padding-top: 0;
    top: 0;
    transition: $wallet-details-collapse-transition;

    margin-top: 185px;
    @media only screen and (max-height:500px) {
      margin-top: 165px;
    }
    margin-bottom: 16px;

    .scroll {
      background: rgb(248, 248, 249);
      min-height: 300px;
    }
  }
  .amount-wrapper {
    position: relative;
    overflow: visible;

    .amount-bg {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 500px;
      -webkit-transform: translateY(-499px);
      transform: translateY(-499px);

      &.collapsible {
        top: initial;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 200px;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
    }

    .send-receive-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      position: absolute;
      bottom: 20px;
      transition: $wallet-details-collapse-transition;
      >.col {
        padding: 5px 10px;
        margin-bottom: 0;
      }
      .button {
        font-family:"Gilroy-SemiBold", sans-serif;
        font-weight:normal;
        border: 1px solid #C7CDD8;
        border-radius: 3px;
        padding: 16px;
        text-align: center;
        width: 100%;
        color:#13171F;
        max-width: 300px;
        font-size: 19px;
        min-height: 0;
        line-height: 19px;
        background: rgb(253, 253, 253);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
      }
    }
  }
  .amount {
    align-items: center;
    color: #fff;
    display: block;
    font-family:"Gilroy-Bold", sans-serif;

    height: 230px;
    @media only screen and (max-height:500px) {
      height: 210px;
    }

    justify-content: center;
    padding-top: 40px;
    text-align: center;
    transition: $wallet-details-collapse-transition;
    width: 100%;

    &__balance {
      -webkit-transform: scale3d(1, 1, 1) translateY(45px);
      transform: scale3d(1, 1, 1) translateY(45px);
      transition: $wallet-details-collapse-transition;
    }

    &__updating {
      z-index: 999;
      margin-top: -2.1rem;
    }

    &-alternative {
      line-height: 36px;
      transition: $wallet-details-collapse-transition;
      font-family:"Gilroy-SemiBold", sans-serif;
    }

    &__button-balance {
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.25);
      margin-top: 10px;
      i.icon {
        margin-right: 7px;
        vertical-align: middle;
      }
    }

    &__error {
      font-size: 14px;
      padding: 35px 20px;
      opacity: 1;
    }

  }
  .no-alternative {
    padding-top: 45px;
  }

  .item.item-footer {
    font-weight: lighter;
  }
  .tx-search:before {
    font-size: 22px !important;
  }
  .description {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 13px;
    color: $v-mid-gray;
  }
  .low-fees {
    .comment {
      color: $v-mid-gray;
      font-size: 12.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 25px;
    }
    img {
      position: absolute;
      margin-top: 3px;
    }
  }

  img.satoshi-dice {
    border-radius: 50%;
    width: 40px;
    border: 2px solid #BEBEBE;

    &.received {
      border-color:#09C286;
    }
  }

}

.wallet-details-wallet-info {
  position: absolute;
  top: inherit;
  left: 10px;
  bottom: 5px;
  font-size: 20px;
  color: #fff;
  width:95%;

  .actions{
    float: right;
    a {
      color: white;
      font-size: 14px;
      cursor: pointer;
      padding: 5px;
      line-height: 16px;
    }
  }
}

.wallet-not-backed-up-warning {
  background: $v-error-color;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
  text-decoration: none;
  z-index: 9999;
  position: relative;
  padding: 2px 5px;
}

a.item {
  cursor: pointer;
}

.recent svg {
  margin-left:5px;
  width:0.7em;
  height:0.7em;
  stroke: #eee;
}

.updatingHistory {
  color: $v-dark-gray;
  font-size:0.9em;
}

.loading-wallet svg {
  margin-top: 0;
  width: 16px;
  height: 16px;
}